@import '../style/var.less';

@address-edit-padding: var(--van-padding-sm);
@address-edit-buttons-padding: var(--van-padding-xl) var(--van-padding-base);
@address-edit-button-margin-bottom: var(--van-padding-sm);
@address-edit-button-font-size: var(--van-font-size-lg);
