@import '../style/var.less';

@pagination-height: 40px;
@pagination-font-size: var(--van-font-size-md);
@pagination-item-width: 36px;
@pagination-item-default-color: var(--van-primary-color);
@pagination-item-disabled-color: var(--van-gray-7);
@pagination-item-disabled-background-color: var(--van-background-color);
@pagination-background-color: var(--van-white);
@pagination-desc-color: var(--van-gray-7);
@pagination-disabled-opacity: var(--van-disabled-opacity);
