:root,
:host {
  --van-count-down-text-color: var(--van-text-color);
  --van-count-down-font-size: var(--van-font-size-md);
  --van-count-down-line-height: var(--van-line-height-md);
}

.van-count-down {
  color: var(--van-count-down-text-color);
  font-size: var(--van-count-down-font-size);
  line-height: var(--van-count-down-line-height);
}
