@import '../style/var.less';

@grid-item-content-padding: var(--van-padding-md) var(--van-padding-xs);
@grid-item-content-background-color: var(--van-white);
@grid-item-content-active-color: var(--van-active-color);
@grid-item-icon-size: 28px;
@grid-item-text-color: var(--van-gray-7);
@grid-item-text-font-size: var(--van-font-size-sm);
