@import '../style/var.less';

@index-anchor-z-index: 1;
@index-anchor-padding: 0 var(--van-padding-md);
@index-anchor-text-color: var(--van-text-color);
@index-anchor-font-weight: var(--van-font-weight-bold);
@index-anchor-font-size: var(--van-font-size-md);
@index-anchor-line-height: 32px;
@index-anchor-background-color: transparent;
@index-anchor-sticky-text-color: var(--van-danger-color);
@index-anchor-sticky-background-color: var(--van-white);
