@import '../style/var.less';

@password-input-height: 50px;
@password-input-margin: 0 var(--van-padding-md);
@password-input-font-size: 20px;
@password-input-border-radius: 6px;
@password-input-background-color: var(--van-white);
@password-input-info-color: var(--van-gray-6);
@password-input-info-font-size: var(--van-font-size-md);
@password-input-error-info-color: var(--van-danger-color);
@password-input-dot-size: 10px;
@password-input-dot-color: var(--van-black);
@password-input-text-color: var(--van-text-color);
@password-input-cursor-color: var(--van-text-color);
@password-input-cursor-width: 1px;
@password-input-cursor-height: 40%;
@password-input-cursor-animation-duration: 1s;
