@import '../style/var.less';

@popup-background-color: var(--van-white);
@popup-transition: transform var(--van-animation-duration-base);
@popup-round-border-radius: 16px;
@popup-close-icon-size: 22px;
@popup-close-icon-color: var(--van-gray-5);
@popup-close-icon-active-color: var(--van-gray-6);
@popup-close-icon-margin: 16px;
@popup-close-icon-z-index: 1;
