@import '../style/var.less';

@loading-text-color: var(--van-text-color-2);
@loading-text-font-size: var(--van-font-size-md);
@loading-spinner-color: var(--van-gray-5);
@loading-spinner-size: 30px;
@loading-spinner-animation-duration: 0.8s;
