{
  "presets": [["es2015", { "modules": false }]],
  "plugins": ["transform-vue-jsx", "transform-runtime"],
  "env": {
    "utils": {
      "presets": [["es2015", { "modules": "commonjs" }]]
    }
  }
}
