{
  "presets": [
    "stage-0",
    [
      "env",
      {
        "modules": false,
        "loose": true,
        "exclude": ["transform-es2015-typeof-symbol"]
      }
    ]
  ],
  "plugins": ["transform-runtime"],
  "env": {
    "commonjs": {
      "presets": [
        "stage-0",
        [
          "env",
          {
            "modules": "commonjs",
            "loose": true,
            "exclude": ["transform-es2015-typeof-symbol"]
          }
        ]
      ]
    },
    "test": {
      "presets": [["env", { "targets": { "node": 8 } }]]
    }
  }
}
