{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-unknown": null,
    "number-leading-zero": null,
    "no-descending-specificity": null,
    "declaration-colon-newline-after": null,
    "font-family-no-missing-generic-family-keyword": null
  }
}
