{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-rational-order"
  ],
  "rules": {
    "order/properties-order": [],
    "at-rule-no-unknown": null,
    "number-leading-zero": null,
    "no-descending-specificity": null,
    "declaration-colon-newline-after": null,
    "font-family-no-missing-generic-family-keyword": null
  }
}
