@import '../style/var.less';

@index-bar-sidebar-z-index: 2;
@index-bar-index-font-size: var(--van-font-size-xs);
@index-bar-index-line-height: var(--van-line-height-xs);
@index-bar-index-active-color: var(--van-danger-color);
