@import '../style/var.less';

@slider-active-background-color: var(--van-primary-color);
@slider-inactive-background-color: var(--van-gray-3);
@slider-disabled-opacity: var(--van-disabled-opacity);
@slider-bar-height: 2px;
@slider-button-width: 24px;
@slider-button-height: 24px;
@slider-button-border-radius: 50%;
@slider-button-background-color: var(--van-white);
@slider-button-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
