@import '../style/var.less';

@empty-padding: var(--van-padding-xl) 0;
@empty-image-size: 160px;
@empty-description-margin-top: var(--van-padding-md);
@empty-description-padding: 0 60px;
@empty-description-color: var(--van-text-color-2);
@empty-description-font-size: var(--van-font-size-md);
@empty-description-line-height: var(--van-line-height-md);
@empty-bottom-margin-top: 24px;
