@import '../style/var.less';

@uploader-size: 80px;
@uploader-icon-size: 24px;
@uploader-icon-color: var(--van-gray-4);
@uploader-text-color: var(--van-gray-6);
@uploader-text-font-size: var(--van-font-size-sm);
@uploader-upload-background-color: var(--van-gray-1);
@uploader-upload-active-color: var(--van-active-color);
@uploader-delete-color: var(--van-white);
@uploader-delete-icon-size: 14px;
@uploader-delete-background-color: rgba(0, 0, 0, 0.7);
@uploader-file-background-color: var(--van-background-color);
@uploader-file-icon-size: 20px;
@uploader-file-icon-color: var(--van-gray-7);
@uploader-file-name-padding: 0 var(--van-padding-base);
@uploader-file-name-margin-top: var(--van-padding-xs);
@uploader-file-name-font-size: var(--van-font-size-sm);
@uploader-file-name-text-color: var(--van-gray-7);
@uploader-mask-text-color: var(--van-white);
@uploader-mask-background-color: rgba(50, 50, 51, 0.88);
@uploader-mask-icon-size: 22px;
@uploader-mask-message-font-size: var(--van-font-size-sm);
@uploader-mask-message-line-height: var(--van-line-height-xs);
@uploader-loading-icon-size: 22px;
@uploader-loading-icon-color: var(--van-white);
@uploader-disabled-opacity: var(--van-disabled-opacity);
