@define-mixin button-wrap {
  display: inline-block;
  box-sizing: border-box;
  padding-right: 10px;
  vertical-align: middle;
  &:last-child {
    padding-right: 0;
  }
  .zan-button {
    width: 100%;
  }
}

@component-namespace zan {
  @b button-group {
    font-size: 0;

    > .zan-button {
      margin-right: 10px;
      &::last-child {
        margin-right: 0;
      }
    }
  }
  @b button-1 {
    @mixin button-wrap;
    padding-right: 0;
    width: 100%;
  }
  @b button-2 {
    @mixin button-wrap;
    width: 50%;
  }
  @b button-3 {
    @mixin button-wrap;
    width: 33.33%;
  }
}
