@import './common/var.css';
@import './mixins/border_retina.css';

@component-namespace zan {
  @b cell-group {
    padding-left: 15px;
    position: relative;
    background-color: #fff;

    &::after {
      @mixin border-retina (top, bottom);
    }
  }

  @b cell {
    display: block;
    position: relative;
    padding: 10px 15px 10px 0;
    box-sizing: border-box;
    line-height: 22px;
    background-color: $c-white;
    color: $c-black;
    font-size: 14px;
    text-decoration: none;

    &::after {
      @mixin border-retina (bottom);
    }

    &:last-child {
      &::after {
        border-bottom: 0;
      }
    }

    @e title {
      display: inline-block;
      overflow: hidden;
      /* 清除空白字符对高度的影响 */
      vertical-align: bottom;

      &.zan-cell__required {
        &::before {
          content: '*';
          position: absolute;
          left: -7px;
          font-size: 14px;
          color: #f44;
        }
      }
    }

    @e label {
      display: block;
      font-size: 12px;
      line-height: 1.2;
      color: $c-gray-darker;
    }

    @e value {
      float: right;
      overflow: hidden;

      @when link {
        margin-right: 20px;
      }

      @when alone {
        float: left;
      }
    }

    .zan-icon-arrow {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      color: $c-gray-dark;
      font-size: 12px;
    }
  }
}
