@import "./common/var.css";
@import "./mixins/border_retina.css";

@component-namespace zan {
  @b cell-group {
    padding-left: 10px;
    position: relative;

    &::after {
      @mixin border-retina (top, bottom);
    }
  }

  @b cell {
    display: block;
    overflow: hidden;
    position: relative;
    padding: 10px 10px 10px 0;
    box-sizing: border-box;
    line-height: 22px;
    background-color: $c-white;
    color: $c-black;
    font-size: 14px;
    text-decoration: none;

    &::after {
      @mixin border-retina (bottom);
    }

    &:last-child {
      &::after {
        border-bottom: 0;
      }
    }

    @e title {
      float: left;
      overflow: hidden;
    }

    @e label {
      display: block;
      font-size: 12px;
      line-height: 1.2;
      color: $c-gray-darker;
    }

    @e value {
      float: right;
      overflow: hidden;

      @when link {
        margin-right: 20px;
      }

      @when alone {
        float: left;
      }
    }

    .zui-icon-arrow {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      color: $c-gray-dark;
      font-size: 12px;
    }
  }
}
