.zan-col {
  float: left;
  box-sizing: border-box;
}
.zan-col-1 { width: 4.166666666666667%; }
.zan-col-2 { width: 8.333333333333334%; }
.zan-col-3 { width: 12.5%; }
.zan-col-4 { width: 16.666666666666668%; }
.zan-col-5 { width: 20.833333333333336%; }
.zan-col-6 { width: 25%; }
.zan-col-7 { width: 29.166666666666668%; }
.zan-col-8 { width: 33.333333333333336%; }
.zan-col-9 { width: 37.5%; }
.zan-col-10 { width: 41.66666666666667%; }
.zan-col-11 { width: 45.833333333333336%; }
.zan-col-12 { width: 50%; }
.zan-col-13 { width: 54.16666666666667%; }
.zan-col-14 { width: 58.333333333333336%; }
.zan-col-15 { width: 62.50000000000001%; }
.zan-col-16 { width: 66.66666666666667%; }
.zan-col-17 { width: 70.83333333333334%; }
.zan-col-18 { width: 75%; }
.zan-col-19 { width: 79.16666666666667%; }
.zan-col-20 { width: 83.33333333333334%; }
.zan-col-21 { width: 87.5%; }
.zan-col-22 { width: 91.66666666666667%; }
.zan-col-23 { width: 95.83333333333334%; }
.zan-col-24 { width: 100%; }
.zan-col-offset-1 { margin-left: 4.166666666666667%; }
.zan-col-offset-2 { margin-left: 8.333333333333334%; }
.zan-col-offset-3 { margin-left: 12.5%; }
.zan-col-offset-4 { margin-left: 16.666666666666668%; }
.zan-col-offset-5 { margin-left: 20.833333333333336%; }
.zan-col-offset-6 { margin-left: 25%; }
.zan-col-offset-7 { margin-left: 29.166666666666668%; }
.zan-col-offset-8 { margin-left: 33.333333333333336%; }
.zan-col-offset-9 { margin-left: 37.5%; }
.zan-col-offset-10 { margin-left: 41.66666666666667%; }
.zan-col-offset-11 { margin-left: 45.833333333333336%; }
.zan-col-offset-12 { margin-left: 50%; }
.zan-col-offset-13 { margin-left: 54.16666666666667%; }
.zan-col-offset-14 { margin-left: 58.333333333333336%; }
.zan-col-offset-15 { margin-left: 62.50000000000001%; }
.zan-col-offset-16 { margin-left: 66.66666666666667%; }
.zan-col-offset-17 { margin-left: 70.83333333333334%; }
.zan-col-offset-18 { margin-left: 75%; }
.zan-col-offset-19 { margin-left: 79.16666666666667%; }
.zan-col-offset-20 { margin-left: 83.33333333333334%; }
.zan-col-offset-21 { margin-left: 87.5%; }
.zan-col-offset-22 { margin-left: 91.66666666666667%; }
.zan-col-offset-23 { margin-left: 95.83333333333334%; }
.zan-col-offset-24 { margin-left: 100%; }
