@import "./common/var.css";
@import "./mixins/border_retina.css";

@component-namespace zan {
  @b field {
    width: 100%;
    overflow: hidden;

    @when textarea {
      .zan-field__control {
        min-height: 60px;
      }
    }

    @when nolabel {
      .zan-cell__title {
        display: none;
      }

      .zan-cell__value {
        width: 100%;
        padding-left: 0;
      }
    }

    .zan-cell__title,
    .zan-cell__value {
      float: none;
      box-sizing: border-box;
    }

    .zan-cell__title {
      width: 90px;
      position: absolute;
      top: 10px;
      left: 0;
    }

    .zan-cell__value {
      width: 100%;
      padding-left: 90px;
    }

    @e control {
      border: 0;
      font-size: 14px;
      line-height: 22px;
      display: block;
      width: 100%;
      resize: none;
      outline: 0;
    }
  }
}
