@import "./common/var.css";
@import "./mixins/border_retina.css";

@component-namespace zan {
  @b field {
    width: 100%;
    overflow: hidden;

    @m hastextarea {
      .zan-field__control {
        min-height: 60px;
      }
    }

    @m nolabel {
      .zan-cell__title {
        display: none;
      }

      .zan-cell__value {
        width: 100%;
        padding-left: 0;
      }
    }

    @m disabled {
      .zan-field__control {
        color: $c-gray-dark;
      }
    }

    @m error {
      .zan-field__control,
      .zan-cell__title {
        color: $c-red;
      }
    }

    @m border {
      .zan-field__control {
        padding-left: 10px;
      }

      &::after {
        @mixin border-retina (top, right, bottom, left);
      }

      &:last-child::after {
        @mixin border-retina (bottom);
      }
    }

    .zan-cell__title,
    .zan-cell__value {
      float: none;
      box-sizing: border-box;
    }

    .zan-cell__title {
      width: 90px;
      position: absolute;
      top: 10px;
      left: 0;
    }

    .zan-cell__value {
      width: 100%;
      padding-left: 90px;
    }

    @e control {
      border: 0;
      font-size: 14px;
      line-height: 22px;
      display: block;
      width: 100%;
      resize: none;
      outline: 0;
    }
  }
}
