@import './common/var.css';
@import './icon.css';

@component-namespace zan {
  @b search {
    position: relative;
    box-sizing: border-box;
    padding: 4px 15px;
    background-color: #F2F2F2;

    @m focus {
      padding-right: 50px;
    }

    @e input-wrap {
      position: relative;
      padding: 8px 24px 8px 35px;
      border: 1px solid $c-gray-light;
      border-radius: 4px;
      background-color: $c-white;
    }

    @e input {
      display: block;
      width: 100%;
      height: 14px;
      font-size: 14px;
      color: $c-gray-dark;
      border: none;
      outline: none;
    }

    @e cancel {
      position: absolute;
      line-height: 34px;
      padding: 4px 0;
      top: 0;
      right: 10px;
      font-size: 14px;
      color: $c-green;
    }

    .zan-icon-search {
      color: $c-gray-darker;
      position: absolute;
      top: 8px;
      left: 10px;
      font-size: 16px;
      line-height: 1;
    }

    .zan-icon-clear {
      font-size: 14px;
      line-height: 1;
      position: absolute;
      right: 5px;
      top: 9px;
      color: #888;
    }
  }
}