@component-namespace zan {
    @b swipe {
        position: relative;
        overflow: hidden;
        width: 100%;
    }

    @b swipe-item {
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-align: center;

        img {
            max-width: 100%;
            max-height: 100%;
        }

        &:first-child {
            display: block;
        }
    }
}
