:root,
:host {
  --van-list-text-color: var(--van-text-color-2);
  --van-list-text-font-size: var(--van-font-size-md);
  --van-list-text-line-height: 50px;
  --van-list-loading-icon-size: 16px;
}

.van-list {
  &__loading,
  &__finished-text,
  &__error-text {
    color: var(--van-list-text-color);
    font-size: var(--van-list-text-font-size);
    line-height: var(--van-list-text-line-height);
    text-align: center;
  }

  &__placeholder {
    height: 0;
    pointer-events: none;
  }

  &__loading-icon {
    .van-loading__spinner {
      width: var(--van-list-loading-icon-size);
      height: var(--van-list-loading-icon-size);
    }
  }
}
