@import '../style/var.less';

@checkbox-size: 20px;
@checkbox-border-color: var(--van-gray-5);
@checkbox-transition-duration: var(--van-animation-duration-fast);
@checkbox-label-margin: var(--van-padding-xs);
@checkbox-label-color: var(--van-text-color);
@checkbox-checked-icon-color: var(--van-primary-color);
@checkbox-disabled-icon-color: var(--van-gray-5);
@checkbox-disabled-label-color: var(--van-text-color-3);
@checkbox-disabled-background-color: var(--van-border-color);
