@import '../style/var.less';

@share-sheet-header-padding: var(--van-padding-sm) var(--van-padding-md)
  var(--van-padding-base);
@share-sheet-title-color: var(--van-text-color);
@share-sheet-title-font-size: var(--van-font-size-md);
@share-sheet-title-line-height: var(--van-line-height-md);
@share-sheet-description-color: var(--van-gray-6);
@share-sheet-description-font-size: var(--van-font-size-sm);
@share-sheet-description-line-height: 16px;
@share-sheet-icon-size: 48px;
@share-sheet-option-name-color: var(--van-gray-7);
@share-sheet-option-name-font-size: var(--van-font-size-sm);
@share-sheet-option-description-color: var(--van-gray-5);
@share-sheet-option-description-font-size: var(--van-font-size-sm);
@share-sheet-cancel-button-font-size: var(--van-font-size-lg);
@share-sheet-cancel-button-height: 48px;
@share-sheet-cancel-button-background: var(--van-white);
