@import '../style/var.less';

@image-placeholder-text-color: var(--van-text-color-2);
@image-placeholder-font-size: var(--van-font-size-md);
@image-placeholder-background-color: var(--van-background-color);
@image-loading-icon-size: 32px;
@image-loading-icon-color: var(--van-gray-4);
@image-error-icon-size: 32px;
@image-error-icon-color: var(--van-gray-4);
