@import './common/var.css';

.van-address-list {
  height: 100%;

  .van-cell__value {
    color: $text-color;
    padding-right: 34px;
    position: relative;
  }

  .van-radio__label {
    margin-left: 32px;
  }

  .van-radio__input {
    top: 50%;
    left: 0;
    position: absolute;
    transform: translate(0, -50%);
  }

  .van-icon-checked {
    color: $blue;
  }

  &__group {
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 40px;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    background-color: $background-color;
  }

  &__name {
    font-size: 14px;
    line-height: 1.5;
  }

  &__address {
    font-size: 12px;
    line-height: 1.5;
    color: $gray-darker;
  }

  &__edit {
    position: absolute;
    top: 50%;
    right: 15px;
    font-size: 20px;
    color: $gray-dark;
    transform: translate(0, -50%);
  }

  &__add {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 9999;
    padding-left: 15px;
    font-size: 16px;

    .van-icon-add {
      color: $blue;
      font-size: 20px;
      line-height: 1.2;
    }
  }
}