@import './common/var.css';

.van-address-list {
  height: 100%;

  .van-cell {
    padding: 15px;
  }

  .van-cell__value {
    color: $text-color;
    padding-right: 34px;
    position: relative;
  }

  .van-radio__label {
    margin-left: 27px;
  }

  .van-radio__input {
    top: 50%;
    left: 0;
    font-size: 16px;
    position: absolute;
    transform: translate(0, -50%);
  }

  .van-icon-checked {
    color: $red;
  }

  &__group {
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 100px;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    background-color: $background-color;
  }

  &__name {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 5px;
  }

  &__address {
    font-size: 12px;
    line-height: 16px;
    color: $gray-darker;
  }

  &__edit {
    position: absolute;
    top: 50%;
    right: 15px;
    font-size: 16px;
    transform: translate(0, -50%);
  }

  &__add {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 9999;
  }
}
