@import './common/var.css';

.van-badge {
  display: block;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.4;
  user-select: none;
  color: $gray-darker;
  word-break: break-all;
  box-sizing: border-box;
  padding: 20px 12px 20px 9px;
  background-color: $background-color;
  border-left: 3px solid transparent;

  &:active {
    background-color: $active-color;
  }

  &:not(:last-child)::after {
    border-bottom-width: 1px;
  }

  &-group {
    width: 85px;
  }

  &--select {
    font-weight: 500;
    color: $text-color;
    border-color: $red;

    &::after {
      border-right-width: 1px;
    }

    &,
    &:active {
      background-color: $white;
    }
  }

  &__info {
    top: 7px;
    left: auto;
    right: 5px;
    font-size: 12px;
    transform: scale(0.9);
  }
}
