@import './common/var.css';

.van-badge {
  display: block;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.4;
  user-select: none;
  color: $gray-darker;
  word-break: break-all;
  box-sizing: border-box;
  padding: 20px 12px 20px 9px;
  background-color: $background-color;
  border-left: 3px solid transparent;

  &:active {
    background-color: $active-color;
  }

  &:not(:last-child)::after {
    border-bottom-width: 1px;
  }

  &-group {
    width: 85px;
  }

  &--select {
    font-weight: bold;
    color: $text-color;
    border-color: $red;

    &::after {
      border-right-width: 1px;
    }

    &,
    &:active {
      background-color: $white;
    }
  }

  &__info {
    position: absolute;
    top: 2px;
    right: 2px;
    color: $white;
    font-size: 10px;
    font-weight: normal;
    transform: scale(0.8);
    text-align: center;
    box-sizing: border-box;
    padding: 0 6px;
    min-width: 18px;
    line-height: 18px;
    border-radius: 9px;
    background-color: $red;
  }
}
