@import './common/var.css';
@import './mixins/border_retina.css';

.van-badge {

  display: block;
  overflow: hidden;
  position: relative;
  padding: 20px 12px;
  box-sizing: border-box;
  line-height: 1.4;
  background-color: $c-background;
  color: $c-gray-darker;
  font-size: 14px;
  text-decoration: none;
  word-break: break-all;

  &-group {
    position: relative;
    width: 85px;

    &::after {
      @mixin border-retina (top);
    }
  }

  &--select {
    font-weight: bold;
    color: $c-black;
    background-color: $c-white;
    .van-badge__active {
      display: block;
    }
    &::after {
      @mixin border-retina (top);
      @mixin border-retina (right);
      @mixin border-retina (left);
    }
  }

  &__active {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background-color: #FF4444;
  }

  &__info {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 10px;
    transform:scale(0.8);
    text-align: center;
    box-sizing: border-box;
    padding: 0 6px;
    min-width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 9px;
    background-color: #FF4444;
    color: $c-white;
  }

  &::after {
    @mixin border-retina (bottom);
  }

  &:last-child {
    &::after {
      border-bottom: 0;
    }
  }
}
