/**
 * Entry of basic styles
 */

@import "./common/var.css";
@import "./common/normalize.css";
@import "./common/ellipsis.css";
@import "./common/clearfix.css";
@import "./common/hairline.css";
@import "./common/animation.css";
@import './icon.css';
@import './loading.css';
@import './button.css';
@import './cell.css';
