@import './common/var.css';
@import './mixins/ellipsis.css';

.van-card {
  color: $text-color;
  height: 90px;
  background: #fafafa;
  position: relative;
  padding: 5px 15px 5px 115px;

  &:not(:first-child) {
    margin-top: 10px;
  }

  &--center,
  &__thumb {
    align-items: center;
    justify-content: center;
  }

  &__thumb {
    top: 5px;
    left: 15px;
    width: 90px;
    height: 90px;
    position: absolute;

    img {
      border: none;
      max-width: 100%;
      max-height: 100%;
    }
  }

  &,
  &__thumb,
  &__row {
    display: flex;
  }

  &__content {
    width: 100%;

    &--center {
      height: 90px;
      align-items: center;
    }
  }

  &__title,
  &__desc {
    line-height: 20px;
    word-break: break-all;
  }

  &__title {
    max-height: 40px;
    @mixin multi-ellipsis 2;
  }

  &__desc {
    color: $gray-darker;
    font-size: 12px;
    max-height: 20px;
    @mixin multi-ellipsis 1;
  }

  &__price,
  &__num {
    flex: 1;
    min-width: 80px;
    line-height: 20px;
    text-align: right;
  }

  &__price {
    font-size: 14px;
  }

  &__num {
    color: $gray-darker;
    font-size: 12px;
  }

  &__footer {
    right: 15px;
    bottom: 5px;
    position: absolute;

    .van-button {
      margin-left: 5px;
    }
  }
}
