@import './common/var.css';

.van-cell {
  width: 100%;
  display: table;
  padding: 10px 15px;
  box-sizing: border-box;
  line-height: 24px;
  position: relative;
  background-color: $white;
  color: $text-color;
  font-size: 14px;
  overflow: hidden;

  &:not(:last-child)::after {
    left: 15px;
    right: 0;
    width: auto;
    transform: scale(1, .5);
    border-bottom-width: 1px;
  }

  &-group {
    background-color: $white;
  }

  &__title {
    display: table-cell;

    .van-icon {
      font-size: 16px;
      margin-right: 5px;
      vertical-align: middle;
    }
  }

  &__text {
    vertical-align: middle;
  }

  &__label {
    display: block;
    font-size: 12px;
    line-height: 1.2;
    color: $gray-darker;
  }

  &__value {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    overflow: hidden;

    &--alone {
      text-align: left;
    }

    &--link {
      padding-right: 15px;
    }
  }

  &--clickable {
    &:active {
      background-color: $active-color;
    }
  }

  &--required {
    overflow: visible;

    &::before {
      content: '*';
      position: absolute;
      left: 7px;
      font-size: 14px;
      color: $red;
    }
  }

  &__right-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: $gray-dark;
    font-size: 12px;
  }
}
