@import './common/var.css';

.van-cell {
  width: 100%;
  display: table;
  padding: 10px 15px 10px 0;
  box-sizing: border-box;
  line-height: 24px;
  background-color: $white;
  color: $text-color;
  font-size: 14px;
  overflow: hidden;

  &:not(:last-child)::after {
    border-bottom-width: 1px;
  }

  &-group {
    padding-left: 15px;
    background-color: $white;
  }

  &__title {
    display: table-cell;

    .van-icon {
      margin-right: 5px;
    }
  }

  &__label {
    display: block;
    font-size: 12px;
    line-height: 1.2;
    color: $gray-darker;
  }

  &__value {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    overflow: hidden;

    &--link {
      padding-right: 20px;
    }

    &--alone {
      text-align: left;
    }
  }

  &--required {
    overflow: visible;

    &::before {
      content: '*';
      position: absolute;
      left: -7px;
      font-size: 14px;
      color: $red;
    }
  }

  &__right-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: $gray-dark;
    font-size: 12px;
  }
}
