.van-cell {
  &-swipe {
    position: relative;
    min-height: 48px;
    overflow: hidden;

    .van-cell-wrapper,
    .van-cell-left,
    .van-cell-right {
      transition: transform 150ms ease-in-out;
    }
  }

  &-left,
  &-right {
    position: absolute;
    height: 100%;
    top: 0;
  }

  &-left {
    left: 0;
    transform: translate3d(-100%, 0, 0);
  }

  &-right {
    right: 0;
    transform: translate3d(100%, 0, 0);
  }
}
