@import './common/var.css';

.van-checkbox {
  overflow: hidden;

  &--disabled {
    .van-icon {
      color: #d1dbe5;
    }
  }

  &__input {
    position: relative;
    height: 22px;
    margin-right: 15px;
    float: left;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  &__control {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    opacity: 0;
    margin: 0;
  }

  &__label {
    line-height: 22px;
    margin-left: 37px;
    display: block;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);      
  }

  .van-icon {
    font-size: 22px;
    line-height: 1;
  }

  .van-icon-checked {
    color: $c-green;
  }

  .van-icon-check {
    color: $c-gray-dark;
  }
}
