@import './common/var.css';

$van-checkbox-size: 20px;

.van-checkbox {
  overflow: hidden;
  user-select: none;

  &__icon,
  &__label {
    display: inline-block;
    vertical-align: middle;
    line-height: $van-checkbox-size;
  }

  &__icon {
    .van-icon {
      font-size: 12px;
      color: transparent;
      text-align: center;
      line-height: inherit;
      border: 1px solid #aaa;
      width: $van-checkbox-size;
      height: $van-checkbox-size;
      box-sizing: border-box;
    }

    &--round {
      .van-icon {
        border-radius: 100%;
      }
    }

    &--checked {
      .van-icon {
        color: #fff;
        border-color: $green;
        background-color: $green;
      }
    }

    &--disabled {
      .van-icon {
        color: $background-color;
        border-color: $border-color;
        background-color: currentColor;
      }
    }

    &--disabled&--checked {
      .van-icon {
        border-color: $border-color;
        background-color: $border-color;
      }
    }
  }

  &__label {
    margin-left: 10px;

    &--left {
      float: left;
      margin: 0 10px 0 0;
    }
  }
}
