@import './common/var.css';

.van-collapse-item {
  &__title {
    .van-cell__right-icon::before {
      transition: .3s;
      transform: rotate(90deg);
    }

    &::after {
      visibility: hidden;
    }

    &--expanded {
      .van-cell__right-icon::before {
        transform: rotate(-90deg);
      }

      &::after {
        visibility: visible;
      }
    }

    &--disabled {
      &,
      & .van-cell__right-icon {
        color: $gray;
      }

      &:active {
        background-color: $white;
      }
    }
  }

  &__wrapper {
    overflow: hidden;
    will-change: height;
    transition: height .3s ease-in-out;
  }

  &__content {
    padding: 15px;
    background-color: $white;
  }
}
