@import './common/var.css';

.van-contact-edit {
  &__buttons {
    padding: 20px 10px;
  }

  &__default {
    .van-cell__title {
      line-height: 31px;
    }

    .van-cell__value {
      height: 31px;
    }
  }

  .van-button {
    margin-bottom: 10px;
  }
}
