@import './common/var.css';

.van-contact-card {
  position: relative;
  background-color: $white;

  &:active {
    background-color: $active-color;
  }

  &--uneditable {
    &:active {
      background-color: $white;
    }
  }

  &--add {
    line-height: 40px;

    .van-contact-card__icon {
      width: 40px;
      color: $blue;
      font-size: 40px;
    }
  }

  &--edit {
    .van-contact-card__icon {
      font-size: 18px;
      vertical-align: top;
    }
  }

  &__content {
    padding: 15px 10px;
  }

  &__icon,
  &__text {
    display: inline-block;
    vertical-align: middle;
  }

  &__icon {
    margin-right: 10px;
  }

  &__text {
    line-height: 20px;
    font-size: 14px;
  }

  &__arrow {
    top: 50%;
    right: 10px;
    font-size: 12px;
    position: absolute;
    color: $gray-dark;
    transform: translate3d(0, -50%, 0);
  }

  &::after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    background-image: url('data:image/false;base64,iVBORw0KGgoAAAANSUhEUgAAAEQAAAAECAYAAAA3S5neAAAAAXNSR0IArs4c6QAAAIpJREFUOBHF0iESg1AMBNDshx4H0+EUSCxnQKBAVDIMjhnOgO8NOADTI7V/CcjU58ckq/aJQHTYto2u7bpdB3hjXWvb+Ry/jTC6e6CeQBIK6i3KJWfZbHsuDxiTeCCcc+m6SlGFhTnkHcty2J5y+lVM4NHv2D+vxxEkxsGiXHIIf99x95JJPIDcnhMVeyVty5S/SAAAAABJRU5ErkJggg==');
    background-size: 34px 2px;
  }
}
