@import './mixins/border_retina.css';
@import './popup.css';

.van-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 85%;
  font-size: 16px;
  overflow: hidden;
  transition: .2s;
  border-radius: 4px;
  background-color: #fff;
  backface-visibility: hidden;
  transform: translate3d(-50%, -50%, 0);
  

  &__header {
    padding: 15px 0 0;
    text-align: center;
  }

  &__content {
    padding: 15px 20px;
    position: relative;

    &::after {
      @mixin border-retina (bottom);
    }
  }

  &__message {
    line-height: 1.5;

    &--withtitle {
      color: #999;
      font-size: 14px;
    }
  }

  &__footer {
    overflow: hidden;

    &.is-twobtn {
      .van-button {
        width: 50%;
        float: left;
      }

      .van-dialog__cancel {
        position: relative;

        &::before {
          @mixin border-retina (right);
          left: -2px;
        }
      }
    }
  }

  .van-button {
    border: 0;
  }

  &__confirm {
    color: #00C000;
  }

  &-bounce-enter {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0.7);
  }

  &-bounce-leave-active {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0.9);
  }
}
