@import './common/var.css';

.van-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 85%;
  font-size: 16px;
  overflow: hidden;
  transition: .2s;
  border-radius: 4px;
  background-color: $white;
  transform: translate3d(-50%, -50%, 0);
  
  &__header {
    padding: 15px 0 0;
    text-align: center;
  }

  &__content {
    padding: 15px 20px;

    &::after {
      border-bottom-width: 1px;
    }
  }

  &__message {
    line-height: 1.5;

    &--withtitle {
      color: $gray-dark;
      font-size: 14px;
    }
  }

  &__footer {
    overflow: hidden;

    &.is-twobtn {
      display: flex;

      .van-button {
        flex: 1;
      }
    }
  }

  .van-button {
    border: 0;
  }

  &__confirm {
    &,
    &:active {
      color: #00C000;
    }
  }

  &-bounce-enter {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0.7);
  }

  &-bounce-leave-active {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0.9);
  }
}
