@import './common/var.css';

.van-express-way {
  padding: 0;

  &__fee,
  &__type {
    color: $gray-darker;
    line-height: 1.5;
  }

  &__fee {
    font-size: 14px;
  }

  &__type {
    font-size: 12px;
  }

  .van-actionsheet__content {
    max-height: 290px;
    overflow-y: auto;
  }

  &-option {
    position: relative;
    padding: 14px 15px 14px 0;
    
    .van-radio {
      top: 50%;
      left: 0;
      margin-top: -11px;
      position: absolute;
    }

    &__content {
      padding-left: 30px;

      p {
        color: $gray-dark;
        font-size: 12px;
        line-height: 16px;
      }
    }

    &__title {
      span {
        vertical-align: middle;

        &:first-child {
          margin-right: 5px;
        }
      }
    }

    &__warn {
      color: $yellow;
    }
  }
}