@import './common/var.css';
@import './mixins/border_retina.css';
@import './cell.css';

@component-namespace van {
  @b field {
    width: 100%;

    @m hastextarea {
      .van-field__control {
        min-height: 60px;
      }
    }

    @m nolabel {
      .van-cell__title {
        display: none;
      }

      .van-cell__value {
        width: 100%;
        padding-left: 0;
      }
    }

    @m disabled {
      .van-field__control {
        color: $c-gray-dark;
      }
    }

    @m error {
      .van-field__control {
        color: $c-red;
      }
    }

    @m border {
      .van-field__control {
        padding-left: 10px;
      }

      &::after {
        border-radius: 2px;
        @mixin border-retina (top, right, bottom, left);
      }

      &:last-child::after {
        @mixin border-retina (bottom);
      }
    }

    @m autosize {
      .van-field__control {
        min-height: 0px;
      }
    }

    .van-cell__title,
    .van-cell__value {
      float: none;
      box-sizing: border-box;
    }

    .van-cell__title {
      width: 90px;
      position: absolute;
      top: 10px;
      left: 0;
    }

    .van-cell__value {
      width: 100%;
      padding-left: 90px;
    }

    @e control {
      border: 0;
      font-size: 14px;
      line-height: 24px;
      height: 24px;
      padding: 0;
      display: block;
      width: 100%;
      resize: none;
      outline: 0;
    }
  }
}
