@import './common/var.css';

.van-field {
  .van-cell__title {
    max-width: 90px;
  }

  .van-cell__value {
    position: relative;
  }

  &__control {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    resize: none;
    box-sizing: border-box;

    &:disabled {
      opacity: 1;
      color: $gray-darker;
      background-color: transparent;
    }
  }

  &__icon {
    position: absolute;
    right: 0;
    top: 50%;
    color: $gray-dark;
    padding: 10px 0 10px 10px;
    transform: translate3d(0, -50%, 0);

    .van-icon {
      display: block;
    }
  }

  &__button {
    padding-left: 10px;
  }

  &__error-message {
    color: $red;
    font-size: 12px;
    text-align: left;
  }

  &--disabled {
    .van-field__control {
      color: $gray-dark;
    }
  }

  &--error {
    .van-field__control {
      &,
      &::placeholder {
        color: $red;
      }
    }
  }

  &--min-height {
    .van-field__control {
      min-height: 60px;
    }
  }

  &--has-icon {
    .van-field__control {
      padding-right: 20px;
    }
  }
}
