@import './common/var.css';

.van-goods-action {
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  position: fixed;

  &-big-btn {
    flex: 1;
    padding: 0;

    @media (max-width: 321px) {
      font-size: 15px;
    }
  }

  &-mini-btn {
    color: $gray-darker;
    display: flex;
    height: 50px;
    font-size: 10px;
    min-width: 15%;
    line-height: 1;
    text-align: center;
    background-color: $white;
    flex-direction: column;
    justify-content: center;

    &::after {
      border-width: 1px 0 0 1px;
    }

    &:first-child::after {
      border-left-width: 0;
    }

    &:active {
      background-color: $active-color;
    }

    &__icon {
      width: 1em;
      font-size: 20px;
      margin: 0 auto 5px;
    }
  }
}
