@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: 'vant-icon';
  src: url('https://b.yzcdn.cn/zanui/icon/vant-icon-dbc12cf1.ttf') format('truetype');
}

.van-icon {
  display: inline-block;
  font: normal normal normal 14px/1 "vant-icon";
  font-size: inherit;
  text-rendering: auto;

  &:before {
    display: inline-block;
  }
}

.van-icon-add-o:before {
  content: "\F000";
}
.van-icon-add:before {
  content: "\F001";
}
.van-icon-add2:before {
  content: "\F002";
}
.van-icon-after-sale:before {
  content: "\F003";
}
.van-icon-alipay:before {
  content: "\F004";
}
.van-icon-arrow:before {
  content: "\F005";
}
.van-icon-balance-details:before {
  content: "\F006";
}
.van-icon-balance-pay:before {
  content: "\F007";
}
.van-icon-birthday-privilege:before {
  content: "\F008";
}
.van-icon-browsing-history:before {
  content: "\F009";
}
.van-icon-card:before {
  content: "\F00A";
}
.van-icon-cart:before {
  content: "\F00B";
}
.van-icon-cash-back-record:before {
  content: "\F00C";
}
.van-icon-cash-on-deliver:before {
  content: "\F00D";
}
.van-icon-certificate:before {
  content: "\F00E";
}
.van-icon-chat:before {
  content: "\F00F";
}
.van-icon-check:before {
  content: "\F010";
}
.van-icon-checked:before {
  content: "\F011";
}
.van-icon-clear:before {
  content: "\F012";
}
.van-icon-clock:before {
  content: "\F013";
}
.van-icon-close:before {
  content: "\F014";
}
.van-icon-completed:before {
  content: "\F015";
}
.van-icon-contact:before {
  content: "\F016";
}
.van-icon-coupon:before {
  content: "\F017";
}
.van-icon-credit-pay:before {
  content: "\F018";
}
.van-icon-debit-pay:before {
  content: "\F019";
}
.van-icon-delete:before {
  content: "\F01A";
}
.van-icon-description:before {
  content: "\F01B";
}
.van-icon-discount:before {
  content: "\F01C";
}
.van-icon-ecard-pay:before {
  content: "\F01D";
}
.van-icon-edit-data:before {
  content: "\F01E";
}
.van-icon-edit:before {
  content: "\F01F";
}
.van-icon-exchange-record:before {
  content: "\F020";
}
.van-icon-exchange:before {
  content: "\F021";
}
.van-icon-fail:before {
  content: "\F022";
}
.van-icon-free-postage:before {
  content: "\F023";
}
.van-icon-gift-card-pay:before {
  content: "\F024";
}
.van-icon-gift-card:before {
  content: "\F025";
}
.van-icon-gift:before {
  content: "\F026";
}
.van-icon-gold-coin:before {
  content: "\F027";
}
.van-icon-goods-collect:before {
  content: "\F028";
}
.van-icon-home:before {
  content: "\F029";
}
.van-icon-hot-sale:before {
  content: "\F02A";
}
.van-icon-hot:before {
  content: "\F02B";
}
.van-icon-like-o:before {
  content: "\F02C";
}
.van-icon-like:before {
  content: "\F02D";
}
.van-icon-location:before {
  content: "\F02E";
}
.van-icon-logistics:before {
  content: "\F02F";
}
.van-icon-member-day-privilege:before {
  content: "\F030";
}
.van-icon-more-o:before {
  content: "\F031";
}
.van-icon-more:before {
  content: "\F032";
}
.van-icon-new-arrival:before {
  content: "\F033";
}
.van-icon-new:before {
  content: "\F034";
}
.van-icon-other-pay:before {
  content: "\F035";
}
.van-icon-passed:before {
  content: "\F036";
}
.van-icon-password-not-view:before {
  content: "\F037";
}
.van-icon-password-view:before {
  content: "\F038";
}
.van-icon-pause:before {
  content: "\F039";
}
.van-icon-peer-pay:before {
  content: "\F03A";
}
.van-icon-pending-deliver:before {
  content: "\F03B";
}
.van-icon-pending-evaluate:before {
  content: "\F03C";
}
.van-icon-pending-orders:before {
  content: "\F03D";
}
.van-icon-pending-payment:before {
  content: "\F03E";
}
.van-icon-phone:before {
  content: "\F03F";
}
.van-icon-photo:before {
  content: "\F040";
}
.van-icon-photograph:before {
  content: "\F041";
}
.van-icon-play:before {
  content: "\F042";
}
.van-icon-point-gift:before {
  content: "\F043";
}
.van-icon-points-mall:before {
  content: "\F044";
}
.van-icon-points:before {
  content: "\F045";
}
.van-icon-qr-invalid:before {
  content: "\F046";
}
.van-icon-qr:before {
  content: "\F047";
}
.van-icon-question:before {
  content: "\F048";
}
.van-icon-receive-gift:before {
  content: "\F049";
}
.van-icon-records:before {
  content: "\F04A";
}
.van-icon-search:before {
  content: "\F04B";
}
.van-icon-send-gift:before {
  content: "\F04C";
}
.van-icon-setting:before {
  content: "\F04D";
}
.van-icon-shop-collect:before {
  content: "\F04E";
}
.van-icon-shop:before {
  content: "\F04F";
}
.van-icon-shopping-cart:before {
  content: "\F050";
}
.van-icon-sign:before {
  content: "\F051";
}
.van-icon-stop:before {
  content: "\F052";
}
.van-icon-success:before {
  content: "\F053";
}
.van-icon-tosend:before {
  content: "\F054";
}
.van-icon-underway:before {
  content: "\F055";
}
.van-icon-upgrade:before {
  content: "\F056";
}
.van-icon-value-card:before {
  content: "\F057";
}
.van-icon-wap-home:before {
  content: "\F058";
}
.van-icon-wap-nav:before {
  content: "\F059";
}
.van-icon-wechat:before {
  content: "\F05A";
}
