@import './common/var.css';

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: 'vant-icon';
  src: url('https://img.yzcdn.cn/vant/vant-icon-f4e97b.ttf') format('truetype');
}

.van-icon {
  position: relative;
  display: inline-block;
  font: normal normal normal 14px/1 "vant-icon";
  font-size: inherit;
  text-rendering: auto;

  &::before {
    display: inline-block;
  }
}

.van-icon-add-o::before {
  content: "\F000";
}

.van-icon-add::before {
  content: "\F001";
}

.van-icon-add2::before {
  content: "\F002";
}

.van-icon-after-sale::before {
  content: "\F003";
}

.van-icon-aim::before {
  content: "\F004";
}

.van-icon-alipay::before {
  content: "\F005";
}

.van-icon-arrow-left::before {
  content: "\F006";
}

.van-icon-arrow::before {
  content: "\F007";
}

.van-icon-balance-pay::before {
  content: "\F008";
}

.van-icon-browsing-history::before {
  content: "\F009";
}

.van-icon-card::before {
  content: "\F00A";
}

.van-icon-cart-o::before {
  content: "\F00B";
}

.van-icon-cart::before {
  content: "\F00C";
}

.van-icon-cash-back-record::before {
  content: "\F00D";
}

.van-icon-cash-on-deliver::before {
  content: "\F00E";
}

.van-icon-certificate::before {
  content: "\F00F";
}

.van-icon-chat::before {
  content: "\F010";
}

.van-icon-check::before {
  content: "\F011";
}

.van-icon-checked::before {
  content: "\F012";
}

.van-icon-clear::before {
  content: "\F013";
}

.van-icon-clock::before {
  content: "\F014";
}

.van-icon-close::before {
  content: "\F015";
}

.van-icon-completed::before {
  content: "\F016";
}

.van-icon-contact::before {
  content: "\F017";
}

.van-icon-coupon::before {
  content: "\F018";
}

.van-icon-credit-pay::before {
  content: "\F019";
}

.van-icon-debit-pay::before {
  content: "\F01A";
}

.van-icon-delete::before {
  content: "\F01B";
}

.van-icon-description::before {
  content: "\F01C";
}

.van-icon-discount::before {
  content: "\F01D";
}

.van-icon-ecard-pay::before {
  content: "\F01E";
}

.van-icon-edit-data::before {
  content: "\F01F";
}

.van-icon-edit::before {
  content: "\F020";
}

.van-icon-exchange-record::before {
  content: "\F021";
}

.van-icon-exchange::before {
  content: "\F022";
}

.van-icon-fail::before {
  content: "\F023";
}

.van-icon-free-postage::before {
  content: "\F024";
}

.van-icon-gift-card-pay::before {
  content: "\F025";
}

.van-icon-gift-card::before {
  content: "\F026";
}

.van-icon-gift::before {
  content: "\F027";
}

.van-icon-gold-coin::before {
  content: "\F028";
}

.van-icon-goods-collect::before {
  content: "\F029";
}

.van-icon-home::before {
  content: "\F02A";
}

.van-icon-hot-sale::before {
  content: "\F02B";
}

.van-icon-hot::before {
  content: "\F02C";
}

.van-icon-idcard::before {
  content: "\F02D";
}

.van-icon-info-o::before {
  content: "\F02E";
}

.van-icon-like-o::before {
  content: "\F02F";
}

.van-icon-like::before {
  content: "\F030";
}

.van-icon-location::before {
  content: "\F031";
}

.van-icon-logistics::before {
  content: "\F032";
}

.van-icon-more-o::before {
  content: "\F033";
}

.van-icon-more::before {
  content: "\F034";
}

.van-icon-new-arrival::before {
  content: "\F035";
}

.van-icon-new::before {
  content: "\F036";
}

.van-icon-other-pay::before {
  content: "\F037";
}

.van-icon-passed::before {
  content: "\F038";
}

.van-icon-password-not-view::before {
  content: "\F039";
}

.van-icon-password-view::before {
  content: "\F03A";
}

.van-icon-pause::before {
  content: "\F03B";
}

.van-icon-peer-pay::before {
  content: "\F03C";
}

.van-icon-pending-deliver::before {
  content: "\F03D";
}

.van-icon-pending-evaluate::before {
  content: "\F03E";
}

.van-icon-pending-orders::before {
  content: "\F03F";
}

.van-icon-pending-payment::before {
  content: "\F040";
}

.van-icon-phone::before {
  content: "\F041";
}

.van-icon-photo::before {
  content: "\F042";
}

.van-icon-photograph::before {
  content: "\F043";
}

.van-icon-play::before {
  content: "\F044";
}

.van-icon-point-gift::before {
  content: "\F045";
}

.van-icon-points-mall::before {
  content: "\F046";
}

.van-icon-points::before {
  content: "\F047";
}

.van-icon-qr-invalid::before {
  content: "\F048";
}

.van-icon-qr::before {
  content: "\F049";
}

.van-icon-question::before {
  content: "\F04A";
}

.van-icon-receive-gift::before {
  content: "\F04B";
}

.van-icon-records::before {
  content: "\F04C";
}

.van-icon-search::before {
  content: "\F04D";
}

.van-icon-send-gift::before {
  content: "\F04E";
}

.van-icon-setting::before {
  content: "\F04F";
}

.van-icon-share::before {
  content: "\F050";
}

.van-icon-shop-collect::before {
  content: "\F051";
}

.van-icon-shop::before {
  content: "\F052";
}

.van-icon-shopping-cart::before {
  content: "\F053";
}

.van-icon-sign::before {
  content: "\F054";
}

.van-icon-stop::before {
  content: "\F055";
}

.van-icon-success::before {
  content: "\F056";
}

.van-icon-tosend::before {
  content: "\F057";
}

.van-icon-underway::before {
  content: "\F058";
}

.van-icon-upgrade::before {
  content: "\F059";
}

.van-icon-value-card::before {
  content: "\F05A";
}

.van-icon-wap-home::before {
  content: "\F05B";
}

.van-icon-wap-nav::before {
  content: "\F05C";
}

.van-icon-warn::before {
  content: "\F05D";
}

.van-icon-wechat::before {
  content: "\F05E";
}
