@import './common/var.css';

.van-info {
  color: #fff;
  left: 100%;
  top: -.5em;
  font-size: .5em;
  padding: 0 .3em;
  text-align: center;
  min-width: 1.2em;
  line-height: 1.2;
  position: absolute;
  border-radius: .6em;
  box-sizing: border-box;
  background-color: $red;
  transform: translateX(-50%);
  font-family: PingFang SC, Helvetica Neue, Arial, sans-serif;
}
