@import './common/var.css';

.van-nav-bar {
  height: 46px;
  position: relative;
  user-select: none;
  text-align: center;
  line-height: 46px;
  background-color: #fff;

  .van-icon {
    color: $blue;
  }

  &__arrow {
    transform: rotate(180deg);

    + .van-nav-bar__text {
      margin-left: -20px;
      padding-left: 25px;
    }
  }

  &--fixed {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
  }

  &__title {
    font-size: 16px;
  }

  &__left,
  &__right {
    bottom: 0;
    font-size: 14px;
    position: absolute;
  }

  &__left {
    left: 15px;
  }

  &__right {
    right: 15px;
  }

  &__text {
    color: $blue;
    margin: 0 -15px;
    padding: 0 15px;
    display: inline-block;

    &:active {
      background-color: $active-color;
    }
  }
}
