@import "./common/var.css";

$van-number-keyboard-key-height: 54px;

.van-number-keyboard {
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  user-select: none;
  background-color: $white;
  animation-timing-function: ease-out;

  &__title {
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    position: relative;
    color: $gray-darker;
  }

  &__body {
    box-sizing: border-box;
  }

  &__close {
    right: 0;
    color: $blue;
    font-size: 14px;
    padding: 0 15px;
    position: absolute;

    &:active {
      background-color: $active-color;
    }
  }

  &__sidebar {
    right: 0;
    bottom: 0;
    width: 25%;
    position: absolute;
    height: calc($van-number-keyboard-key-height * 4);
  }

  &--custom {
    .van-number-keyboard__body {
      padding-right: 25%;
    }
  }
}

.van-key {
  width: calc(100% / 3);
  font-size: 24px;
  font-style: normal;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  height: $van-number-keyboard-key-height;
  line-height: $van-number-keyboard-key-height;

  &::after {
    border-width: 1px 1px 0 0;
  }

  &--middle {
    width: calc(200% / 3);
  }

  &--big {
    width: 100%;
    height: calc($van-number-keyboard-key-height * 2);
    line-height: calc($van-number-keyboard-key-height * 2);
  }

  &--green {
    font-size: 20px;
    color: $white;
    background-color: $green;

    &.van-key--active {
      background-color: #308305;
    }

    &::after {
      border-color: $green;
    }
  }

  &--delete {
    font-size: 0;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAeCAMAAABg6AyVAAAAbFBMVEUAAAAfHiIdHB4eHR8dHR4eHB4dHB4dHR8gICIdHB4dHB4dHB4dHB8eHh8hISEeHR8fHB8fHR8fHR8fHx8eHiArKyszMzMeHB8eHB8fHR8eHiAeHh4dHB4vLjDY2Nn////b29zKysq9vb28vLzkfBRpAAAAHHRSTlMAK/PW+I/llBv77N1kSCPwWlFAOTMGBb28hHlu08g5sgAAAMlJREFUOMuV1MsWgiAQgGHQyOx+s+sgYO//jnnMGIdDDfwbN99CYEDQFiVEKkolPUG7gl9VTWC31NKuDbVz+Fc1tRJtPDmxS2BS3p5ZC+XXnnbAVoz2WEBCH7uZAalzGoa06whGiznT6sG2xgX4QO2Aej1+KN7XBKL2FvGaMtTWBhbQhtoaYzVQrHKwuGf8hhAPSF5g3xPSt45sCHcouNWx436FGA+RHyQcD35EcUj54U8ff4WYvVi1zLjelUh/OG6XjOeLWv5hfAOI+HLwwOAqhAAAAABJRU5ErkJggg==") no-repeat center center;
    background-size: auto 15px;
  }

  &--gray {
    background-color: #f3f3f6;
  }

  &--active {
    background-color: $active-color;
  }
}
