@import './common/var.css';

.van-panel {
  background: $white;

  &__header {
    padding: 10px 15px;
  }

  &__title {
    font-size: 14px;
    color: $text-color;
  }

  &__desc {
    font-size: 12px;
    color: $gray-darker;
  }

  &__status {
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 15px;
    color: $red;
  }

  &__footer {
    padding: 10px 15px;
  }
}
