@import './common/var.css';
@import './mixins/ellipsis.css';

.van-picker {
  overflow: hidden;
  user-select: none;
  background-color: $white;

  &__toolbar {
    display: flex;
    height: 40px;
    line-height: 40px;
    justify-content: space-between;
  }

  &__cancel,
  &__confirm {
    color: $blue;
    padding: 0 15px;

    &:active {
      background-color: $active-color;
    }
  }

  &__title {
    text-align: center;
    @mixin ellipsis;
  }

  &__columns {
    display: flex;
    position: relative;
  }
  
  &__frame {
    top: 50%;
    left: 0;
    width: 100%;
    z-index: 1;
    position: absolute;
    pointer-events: none;
    transform: translateY(-50%);
  }

  &-column {
    flex: 1;
    overflow: hidden;
    font-size: 16px;
    text-align: center;

    li {
      padding: 0 5px;
      color: $gray-darker;
      @mixin ellipsis;
    }

    li&--selected {
      color: $black;
    }

    li&--disabled {
      opacity: .3;
    }
  }
}
