@import './common/var.css';

.van-picker {
  overflow: hidden;
  user-select: none;
  background-color: $white;

  &__toolbar {
    height: 40px;
    line-height: 40px;
    overflow: hidden;
  }

  &__cancel,
  &__confirm {
    color: $blue;
    padding: 0 15px;

    &:active {
      background-color: $active-color;
    }
  }

  &__cancel {
    float: left;
  }

  &__confirm {
    float: right;
  }

  &__title {
    text-align: center;
    @mixin ellipsis;
  }

  &__columns {
    display: flex;
    position: relative;
  }

  &-column {
    flex: 1;
    overflow: hidden;
    font-size: 18px;
    position: relative;
    text-align: center;

    ul {
      box-sizing: border-box;
    }

    li {
      padding: 0 10px;
      color: $gray-darker;
      @mixin ellipsis;
    }

    li&--selected {
      color: $black;
    }

    li&--disabled {
      opacity: .3;
    }

    &__frame {
      top: 50%;
      left: 0;
      width: 100%;
      z-index: 1;
      position: absolute;
      pointer-events: none;
      transform: translateY(-50%);
    }
  }
}
