@import './common/var.css';

.van-progress {
  height: 4px;
  position: relative;
  border-radius: 4px;
  background: $gray-light;

  &__portion {
    left: 0;
    height: 100%;
    position: absolute;
    border-radius: 4px;
  }

  &__pivot {
    top: 50%;
    width: 28px;
    font-size: 8px;
    margin-top: -6px;
    position: absolute;
    border-radius: 6px;
    line-height: 12px;
    text-align: center;
    background-color: $gray-light;
  }
}
