@import "./common/var.css";

.van-radio {
  overflow: hidden;

  &__input {
    position: relative;
    height: 22px;
    float: left;
  }

  &__control {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    opacity: 0;
    margin: 0;
  }

  &__label {
    line-height: 22px;
    display: block;
    margin-left: 37px;
  }

  .van-icon {
    font-size: 22px;
    line-height: 1;
  }

  .van-icon-checked {
    color: $green;
  }

  .van-icon-check {
    color: $gray-dark;
  }

  &--disabled {
    .van-icon {
      color: #d1dbe5;
    }
  }
}
