@import "./common/var.css";

@component-namespace van {
  @b radio {
    overflow: hidden;

    @m disabled {
      .van-icon {
        color: #d1dbe5;
      }
    }

    @e input {
      position: relative;
      height: 22px;
      float: left;
    }

    @e control {
      position: absolute;
      top: 0;
      left: 0;
      width: 22px;
      height: 22px;
      opacity: 0;
      margin: 0;
    }

    @e label {
      line-height: 22px;
      display: block;
      margin-left: 37px;
    }

    .van-icon {
      font-size: 22px;
      line-height: 1;
    }

    .van-icon-checked {
      color: $c-green;
    }

    .van-icon-check {
      color: $c-gray-dark;
    }
  }
}
