@import "./common/var.css";

$van-radio-size: 20px;

.van-radio {
  overflow: hidden;

  &__input,
  &__label {
    display: inline-block;
    vertical-align: middle;
  }

  &__input {
    position: relative;
    height: $van-radio-size;
  }

  &__control {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  &__label {
    line-height: $van-radio-size;
    margin-left: 10px;
  }

  .van-icon {
    font-size: $van-radio-size;
  }

  .van-icon-checked {
    color: $green;
  }

  .van-icon-check {
    color: $gray-dark;
  }

  &--disabled {
    .van-icon {
      color: #d1dbe5;
    }
  }
}
