@import './common/var.css';

.van-search {
  position: relative;
  box-sizing: border-box;
  padding: 4px 15px;
  background-color: #F2F2F2;

  &--focus {
    padding-right: 50px;
  }

  &--showcase {
    padding: 10px;
    background-color: $background-color;

    .van-search__input-wrap {
      border-color: $gray-light;
    }
  }

  &__input-wrap {
    position: relative;
    padding: 8px 24px 8px 35px;
    border: 1px solid $gray-light;
    border-radius: 4px;
    background-color: $white;
  }

  &__input {
    display: block;
    width: 100%;
    height: 14px;
    font-size: 14px;
    color: $gray-darker;
    border: none;

    &::placeholder {
      color: $gray-dark;
    }
  }

  &__cancel {
    position: absolute;
    line-height: 34px;
    padding: 4px 0;
    top: 0;
    right: 10px;
    font-size: 14px;
    color: $green;
  }

  .van-icon-search {
    color: $gray-darker;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 16px;
    line-height: 1;
  }

  .van-icon-clear {
    font-size: 14px;
    line-height: 16px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
  }
}