@import './common/var.css';

.van-slider {
  position: relative;
  border-radius: 2px;
  background-color: $border-color;

  &__bar {
    position: absolute;
    left: 0;
    height: 100%;
    border-radius: inherit;
    background-color: $blue;
  }

  &__button {
    position: absolute;
    top: 50%;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $white;
    transform: translate3d(50%, -50%, 0);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  }

  &--disabled {
    opacity: .3;
  }
}
