@import './common/var.css';
$van-swipe-indicator: 6px;

.van-swipe {
  overflow: hidden;
  position: relative;
  user-select: none;

  &-item {
    float: left;
    height: 100%;
  }

  &__track {
    height: 100%;
    overflow: hidden;
  }

  &__indicators {
    position: absolute;
    left: 50%;
    bottom: 10px;
    height: $van-swipe-indicator;
    transform: translate3d(-50%, 0, 0);
  }

  &__indicators-vertical {
    position: absolute;
    left: 10px;
    top: 50%;
    width: $van-swipe-indicator;
    transform: translate3d(0, -50%, 0);
  }

  &__indicator {
    border-radius: 100%;
    vertical-align: top;
    display: inline-block;
    background-color: $gray-dark;
    width: $van-swipe-indicator;
    height: $van-swipe-indicator;

    &:not(:last-child) {
      margin-right: $van-swipe-indicator;
    }

    &--active {
      background-color: $orange;
    }
  }
}
