@import './common/var.css';

.van-swipe {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  &__indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__indicator {
    width: 5px;
    height: 5px;
    display: inline-block;
    border-radius: 100%;
    background: $gray-dark;
    opacity: .8;
    margin: 0 3px;
    z-index: 1;

    &--active {
      background: $orange;
      opacity: 1;
    }
  }

  &__items {
    position: relative;
    overflow: hidden;
    position: relative;
    height: 100%;
  }

  &-item {
    display: none;
    height: 100%;
    width: 100%;
    text-align: center;

    img {
      width: 100%;
      height: auto;
    }

    &:first-child {
      display: block;
    }
  }
}
