@import './common/var.css';
$van-swipe-indicator: 6px;

.van-swipe {
  overflow: hidden;
  position: relative;
  user-select: none;

  &-item {
    float: left;
    height: 100%;
  }

  &__track {
    height: 100%;
  }

  &__indicators {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);

    &--vertical {
      left: 10px;
      top: 50%;
      bottom: auto;
      flex-direction: column;
      transform: translateY(-50%);

      .van-swipe__indicator:not(:last-child) {
        margin-bottom: $van-swipe-indicator;
      }
    }
  }

  &__indicator {
    border-radius: 100%;
    background-color: $gray-dark;
    width: $van-swipe-indicator;
    height: $van-swipe-indicator;

    &:not(:last-child) {
      margin-right: $van-swipe-indicator;
    }

    &--active {
      background-color: $orange;
    }
  }
}
