@import './common/var.css';

.van-switch {
  height: 1em;
  width: 1.6em;
  display: inline-block;
  position: relative;
  background: $white;
  box-sizing: content-box;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 1em;

  &__node {
    top: 0;
    left: 0;
    z-index: 1;
    width: 1em;
    height: 1em;
    transition: .3s;
    position: absolute;
    border-radius: 100%;
    background-color: $white;
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, .05), 0 2px 2px 0 rgba(0, 0, 0, .1), 0 3px 3px 0 rgba(0, 0, 0, .05);
  }

  &__loading {
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
  }

  &--on {
    background-color: #44db5e;

    .van-switch__node {
      transform: translateX(.6em);
    }
  }

  &--disabled {
    opacity: .4;
  }
}
