@import './common/var.css';

.van-tabbar {
  width: 100%;
  height: 50px;
  display: flex;
  background-color: #fff;

  &--fixed {
    left: 0;
    bottom: 0;
    position: fixed;
  }

  &-item {
    flex: 1;
    color: #666;
    display: flex;
    line-height: 1;
    font-size: 12px;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &__icon {
      font-size: 18px;
      position: relative;
      margin-bottom: 5px;

      .van-icon {
        display: block;
      }

      &--dot {
        &::after {
          top: 0;
          right: -8px;
          width: 8px;
          height: 8px;
          content: ' ';
          position: absolute;
          border-radius: 100%;
          background-color: $red;
        }
      }

      img {
        height: 18px;
        display: block;
      }
    }

    &--active {
      color: $blue;
    }
  }
}
