@import './common/var.css';
@import './mixins/border_retina.css';

.van-tag {
  position: relative;
  display: inline-block;
  line-height: 14px;
  padding: 1px 5px;
  border-radius: 2px;
  font-size: 10px;
  background: $c-gray;
  color: $c-white;

  &::after {
    @mixin border-retina (top, right, bottom, left), $c-gray;
    border-radius: 4px;
  }

  &--success {
    background: $c-green;

    &::after {
      border-color: $c-green;
    }

    &.is-plain {
      color: $c-green;
    }
  }

  &--danger {
    background: $button-danger-background-color;

    &::after {
      border-color: $button-danger-background-color;
    }

    &.is-plain {
      color: $button-danger-background-color;
    }
  }

  &--primary {
    background: $c-blue;

    &::after {
      border-color: $c-blue;
    }

    &.is-plain {
      color: $c-blue;
    }
  }

  &.is-plain {
    background: $c-white;
    color: $c-gray;
  }

  &.is-mark {
    border-radius: 0 8px 8px 0;

    &::after {
      border-radius: 0 16px 16px 0;
    }
  }
}
