@import './common/var.css';

.van-toast {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;  
  color: $white;
  z-index: 3001;
  font-size: 12px;
  line-height: 1.2;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate3d(-50%, -50%, 0);
  background-color: rgba(39, 39, 39, .7);

  &-wrapper {
    transition: opacity .2s;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3000;
    background: transparent;
  }

  &--text {
    padding: 12px;
    min-width: 200px;
  }

  &--default {
    width: 90px;
    min-height: 90px;
    padding: 15px;

    .van-toast__icon {
      font-size: 50px;
    }

    .van-loading {
      margin: 10px 0 5px;
    }

    .van-toast__text {
      font-size: 14px;
      padding-top: 10px;
    }
  }
}

.van-toast-fade-enter, .van-toast-fade-leave-to {
  opacity: 0;
}
