@import './common/var.css';

@component-namespace van {
  @b toast {
    position: fixed;
    z-index: 3001;
    border-radius: 5px;
    background-color: #272727;
    opacity: .7;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    font-size: 12px;
    color: $c-white;
    text-align: center;
    line-height: 12px;

    @e overlay {
      position: fixed;
      left: 0;
      top: 0;
      background: transparent;
      height: 100vh;
      width: 100vh;
      z-index: 3000;
    }

    @m loading {
      padding: 45px;
    }

    @m text, html {
      padding: 12px;
      min-width: 200px;
    }

    @m default {
      width: 120px;
      height: 120px;

      .van-toast__icon {
        padding-top: 20px;
        font-size: 50px;
      }

      .van-toast__text {
        padding: 15px 0 20px;
        font-size: 14px;
      }
    }
  }
}

.van-toast-fade-enter, .van-toast-fade-leave-active {
  opacity: 0;
}
