@import './common/var.css';

.van-toast {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  color: $white;
  font-size: 12px;
  line-height: 1.2;
  border-radius: 5px;
  word-break: break-all;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  transform: translate3d(-50%, -50%, 0);
  background-color: rgba(0, 0, 0, .7);

  &--unclickable {
    pointer-events: none;
  }

  &--text {
    padding: 12px;
    min-width: 220px;
  }

  &--default {
    width: 120px;
    min-height: 120px;
    padding: 15px;

    .van-toast__icon {
      font-size: 50px;
    }

    .van-loading {
      margin: 10px 0 5px;
    }

    .van-toast__text {
      font-size: 14px;
      padding-top: 10px;
    }
  }

  &--top {
    top: 50px;
  }

  &--bottom {
    top: auto;
    bottom: 50px;
  }
}
