@import './common/var.css';

.van-tree-select {
  user-select: none;
  position: relative;

  &__nav {
    width: 35%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: scroll;
    background-color: $white;
    -webkit-overflow-scrolling: touch;
  }

  &__nitem {
    line-height: 44px;
    padding: 0 15px;
    background-color: $white;

    &:active,
    &--active {
      background-color: $background-color;
    }

    &--active {
      font-weight: 500;
    }
  }

  &__content {
    height: 100%;
    padding: 0 15px;
    margin-left: 35%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  &__item {
    position: relative;
    line-height: 44px;
    padding-left: 5px;
    padding-right: 18px;

    &:active,
    &--active {
      color: $red;
    }
  }

  &__selected {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    line-height: inherit;
  }
}
