@import '../style/var.less';

@tree-select-font-size: var(--van-font-size-md);
@tree-select-nav-background-color: var(--van-background-color);
@tree-select-content-background-color: var(--van-white);
@tree-select-nav-item-padding: 14px var(--van-padding-sm);
@tree-select-item-height: 48px;
@tree-select-item-active-color: var(--van-danger-color);
@tree-select-item-disabled-color: var(--van-gray-5);
@tree-select-item-selected-size: 16px;
