@import '../style/var.less';

@address-list-padding: var(--van-padding-sm) var(--van-padding-sm) 80px;
@address-list-disabled-text-color: var(--van-gray-6);
@address-list-disabled-text-padding: calc(var(--van-padding-base) * 5) 0
  var(--van-padding-md);
@address-list-disabled-text-font-size: var(--van-font-size-md);
@address-list-disabled-text-line-height: var(--van-line-height-md);
@address-list-add-button-z-index: 999;
@address-list-item-padding: var(--van-padding-sm);
@address-list-item-text-color: var(--van-text-color);
@address-list-item-disabled-text-color: var(--van-gray-5);
@address-list-item-font-size: 13px;
@address-list-item-line-height: var(--van-line-height-sm);
@address-list-item-radio-icon-color: var(--van-danger-color);
@address-list-edit-icon-size: 20px;
