@import '../style/var.less';

@step-text-color: var(--van-gray-6);
@step-active-color: var(--van-success-color);
@step-process-text-color: var(--van-text-color);
@step-font-size: var(--van-font-size-md);
@step-line-color: var(--van-border-color);
@step-finish-line-color: var(--van-success-color);
@step-finish-text-color: var(--van-text-color);
@step-icon-size: 12px;
@step-circle-size: 5px;
@step-circle-color: var(--van-gray-6);
@step-horizontal-title-font-size: var(--van-font-size-sm);
