@import '../style/var.less';

@sidebar-font-size: var(--van-font-size-md);
@sidebar-line-height: var(--van-line-height-md);
@sidebar-text-color: var(--van-text-color);
@sidebar-disabled-text-color: var(--van-text-color-3);
@sidebar-padding: 20px var(--van-padding-sm);
@sidebar-active-color: var(--van-active-color);
@sidebar-background-color: var(--van-background-color);
@sidebar-selected-font-weight: var(--van-font-weight-bold);
@sidebar-selected-text-color: var(--van-text-color);
@sidebar-selected-border-width: 4px;
@sidebar-selected-border-height: 16px;
@sidebar-selected-border-color: var(--van-danger-color);
@sidebar-selected-background-color: var(--van-background-color-light);
