@import '../style/var.less';

@card-padding: var(--van-padding-xs) var(--van-padding-md);
@card-font-size: var(--van-font-size-sm);
@card-text-color: var(--van-text-color);
@card-background-color: var(--van-gray-1);
@card-thumb-size: 88px;
@card-thumb-border-radius: var(--van-border-radius-lg);
@card-title-line-height: 16px;
@card-desc-color: var(--van-gray-7);
@card-desc-line-height: var(--van-line-height-md);
@card-price-color: var(--van-gray-8);
@card-origin-price-color: var(--van-text-color-2);
@card-num-color: var(--van-text-color-2);
@card-origin-price-font-size: var(--van-font-size-xs);
@card-price-font-size: var(--van-font-size-sm);
@card-price-integer-font-size: var(--van-font-size-lg);
@card-price-font-family: var(--van-price-integer-font-family);
