
.mint-cell-swipe .mint-cell-wrapper, .mint-cell-swipe .mint-cell-left, .mint-cell-swipe .mint-cell-right {
    -webkit-transition: -webkit-transform 150ms ease-in-out;
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.mint-cell-swipe{
    position: relative;
    min-height: 48px;
    overflow: hidden;
}
.mint-cell-right{
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    transform: translate3d(100%,0,0);
}
.mint-cell-left {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    transform: translate3d(-100%,0,0);
}