@import '../style/var';

.van-tabbar-item {
  flex: 1;
  display: flex;
  line-height: 1;
  font-size: 12px;
  color: @gray-darker;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  &__icon {
    font-size: 18px;
    position: relative;
    margin-bottom: 5px;

    .van-icon {
      display: block;
      min-width: 1em;
    }

    &--dot {
      &::after {
        top: 0;
        right: -8px;
        width: 8px;
        height: 8px;
        content: ' ';
        position: absolute;
        border-radius: 100%;
        background-color: @red;
      }
    }

    img {
      height: 18px;
      display: block;
    }
  }

  &--active {
    color: @blue;
  }

  .van-info {
    margin-top: 2px;
  }
}
