@import '../style/var.less';

@nav-bar-height: 46px;
@nav-bar-background-color: var(--van-white);
@nav-bar-arrow-size: 16px;
@nav-bar-icon-color: var(--van-primary-color);
@nav-bar-text-color: var(--van-primary-color);
@nav-bar-title-font-size: var(--van-font-size-lg);
@nav-bar-title-text-color: var(--van-text-color);
@nav-bar-z-index: 1;
