@import '../style/var.less';

@tab-text-color: var(--van-gray-7);
@tab-active-text-color: var(--van-text-color);
@tab-disabled-text-color: var(--van-gray-5);
@tab-font-size: var(--van-font-size-md);
@tab-line-height: var(--van-line-height-md);
@tabs-default-color: var(--van-danger-color);
@tabs-line-height: 44px;
@tabs-card-height: 30px;
@tabs-nav-background-color: var(--van-white);
@tabs-bottom-bar-width: 40px;
@tabs-bottom-bar-height: 3px;
@tabs-bottom-bar-color: @tabs-default-color;
