@import './common.less';

@font-face {
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  font-family: 'vant-icon';
  src: url('//at.alicdn.com/t/font_2553510_zfuqek7jp8p.woff2?t=1626952352143')
      format('woff2'),
    url('//at.alicdn.com/t/font_2553510_zfuqek7jp8p.woff?t=1626952352143')
      format('woff'),
    url('//at.alicdn.com/t/font_2553510_zfuqek7jp8p.ttf?t=1626952352143')
      format('truetype');
}
