@import '../style/var.less';

@submit-bar-height: 50px;
@submit-bar-z-index: 100;
@submit-bar-background-color: var(--van-background-color-light);
@submit-bar-button-width: 110px;
@submit-bar-price-color: var(--van-danger-color);
@submit-bar-price-font-size: var(--van-font-size-md);
@submit-bar-currency-font-size: var(--van-font-size-md);
@submit-bar-text-color: var(--van-text-color);
@submit-bar-text-font-size: var(--van-font-size-md);
@submit-bar-tip-padding: var(--van-padding-xs) var(--van-padding-sm);
@submit-bar-tip-font-size: var(--van-font-size-sm);
@submit-bar-tip-line-height: 1.5;
@submit-bar-tip-color: var(--van-orange-dark);
@submit-bar-tip-background-color: var(--van-orange-light);
@submit-bar-tip-icon-size: 12px;
@submit-bar-button-height: 40px;
@submit-bar-padding: 0 var(--van-padding-md);
@submit-bar-price-font-size: var(--van-font-size-sm);
@submit-bar-price-integer-font-size: 20px;
@submit-bar-price-font-family: var(--van-price-integer-font-family);
