@import '../style/var.less';

@cell-group-background-color: var(--van-white);
@cell-group-title-color: var(--van-gray-6);
@cell-group-title-padding: var(--van-padding-md) var(--van-padding-md)
  var(--van-padding-xs);
@cell-group-title-font-size: var(--van-font-size-md);
@cell-group-title-line-height: 16px;
@cell-group-inset-padding: 0 var(--van-padding-md);
@cell-group-inset-border-radius: var(--van-border-radius-lg);
@cell-group-inset-title-padding: var(--van-padding-md) var(--van-padding-md)
  var(--van-padding-xs) var(--van-padding-xl);
