@import '../style/var.less';

@field-label-width: 6.2em;
@field-label-color: var(--van-gray-7);
@field-label-margin-right: var(--van-padding-sm);
@field-input-text-color: var(--van-text-color);
@field-input-error-text-color: var(--van-danger-color);
@field-input-disabled-text-color: var(--van-text-color-3);
@field-placeholder-text-color: var(--van-text-color-3);
@field-icon-size: 16px;
@field-clear-icon-size: 16px;
@field-clear-icon-color: var(--van-gray-5);
@field-right-icon-color: var(--van-gray-6);
@field-error-message-color: var(--van-danger-color);
@field-error-message-font-size: 12px;
@field-text-area-min-height: 60px;
@field-word-limit-color: var(--van-gray-7);
@field-word-limit-font-size: var(--van-font-size-sm);
@field-word-limit-line-height: 16px;
@field-disabled-text-color: var(--van-text-color-3);
@field-required-mark-color: var(--van-red);
