:root,
:host {
  --van-cell-group-background: var(--van-background-2);
  --van-cell-group-title-color: var(--van-text-color-2);
  --van-cell-group-title-padding: var(--van-padding-md) var(--van-padding-md);
  --van-cell-group-title-font-size: var(--van-font-size-md);
  --van-cell-group-title-line-height: 16px;
  --van-cell-group-inset-padding: 0 var(--van-padding-md);
  --van-cell-group-inset-radius: var(--van-radius-lg);
  --van-cell-group-inset-title-padding: var(--van-padding-md)
    var(--van-padding-md);
}

.van-cell-group {
  background: var(--van-cell-group-background);

  &--inset {
    margin: var(--van-cell-group-inset-padding);
    border-radius: var(--van-cell-group-inset-radius);
    overflow: hidden;
  }

  &__title {
    padding: var(--van-cell-group-title-padding);
    color: var(--van-cell-group-title-color);
    font-size: var(--van-cell-group-title-font-size);
    line-height: var(--van-cell-group-title-line-height);

    &--inset {
      padding: var(--van-cell-group-inset-title-padding);
    }
  }
}
