.van-cardu__wrap {
  // padding: 12px 16px;
  padding-bottom: 10px;
  background-color: #fff;

  &--border {
    border: 0.5px solid #E5E5E5;
  }
  &--shadow {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.06);
  }
  &--sr {
    border-radius: 4px;
    overflow: hidden;
  }
  .van-divider {
    margin: 0;
  }
  &--image {
    padding: 0;
    padding-bottom: 10px;
  }
  .van-image {
    display: block;
  }
}
.van-cardu__head {
    line-height: 1;
    margin-bottom: 8px;
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 12px;
}
.van-cardu__content {
  margin-left: 12px;
  margin-right: 12px;
}
