.van-cardu__wrap {
  padding: 12px 16px;
  background-color: #fff;

  &--border {
    border: 0.5px solid #E5E5E5;
  }
  &--shadow {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
  }
  &--sr {
    border-radius: 4px;
    overflow: hidden;
  }
  .van-divider {
    margin: 0;
  }
}
