@import '../style/var';

.van-notify {
  text-align: center;
  box-sizing: border-box;
  padding: @notify-padding;
  font-size: @notify-font-size;
  line-height: @notify-line-height;

  // allow newline charactor
  white-space: pre-wrap;
}
