@import '../style/var.less';

@picker-background-color: var(--van-white);
@picker-toolbar-height: 44px;
@picker-title-font-size: var(--van-font-size-lg);
@picker-title-line-height: var(--van-line-height-md);
@picker-action-padding: 0 var(--van-padding-md);
@picker-action-font-size: var(--van-font-size-md);
@picker-confirm-action-color: var(--van-text-link-color);
@picker-cancel-action-color: var(--van-gray-6);
@picker-option-padding: 0 var(--van-padding-base);
@picker-option-font-size: var(--van-font-size-lg);
@picker-option-text-color: var(--van-black);
@picker-option-disabled-opacity: 0.3;
@picker-loading-icon-color: var(--van-primary-color);
@picker-loading-mask-color: rgba(255, 255, 255, 0.9);
