@mixin hairline-common() {
  content: ' ';
  position: absolute;
  pointer-events: none;
  box-sizing: border-box;
}

@mixin hairline($border-color: #eee) {
  @include hairline-common;

  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  transform: scale(0.5);
  border: 0 solid $border-color;
}

@mixin hairline-bottom($border-color: #eee, $left: 0) {
  @include hairline-common;

  left: $left;
  right: 0;
  bottom: 0;
  transform: scaleY(0.5);
  border-bottom: 1px solid $border-color;
}
