@keyframes van-slide-bottom-enter {
  from {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes van-slide-bottom-leave {
  to {
    transform: translate3d(0, 100%, 0);
  }
}

.van-slide-bottom {
  &-enter-active {
    animation: van-slide-bottom-enter .3s both ease;
  }

  &-leave-active {
    animation: van-slide-bottom-leave .3s both ease;
  }
}
