@import "../mixins/border_retina.css";

.van-hairline {
  &,
  &--top,
  &--left,
  &--right,
  &--bottom,
  &--top-bottom,
  &--surround {
    position: relative;

    &::after {
      @mixin hairline;
    }
  }

  &--top::after {
    border-top-width: 1px;
  }

  &--left::after {
    border-left-width: 1px;
  }

  &--right::after {
    border-right-width: 1px;
  }

  &--bottom::after {
    border-bottom-width: 1px;
  }

  &--top-bottom::after {
    border-width: 1px 0;
  }

  &--surround::after {
    border-width: 1px;
  }
}
