@import '../style/var.less';

@image-preview-index-text-color: var(--van-white);
@image-preview-index-font-size: var(--van-font-size-md);
@image-preview-index-line-height: var(--van-line-height-md);
@image-preview-index-text-shadow: 0 1px 1px var(--van-gray-8);
@image-preview-overlay-background-color: rgba(0, 0, 0, 0.9);
@image-preview-close-icon-size: 22px;
@image-preview-close-icon-color: var(--van-gray-5);
@image-preview-close-icon-margin: var(--van-padding-md);
@image-preview-close-icon-z-index: 1;
