:root,
:host {
  --van-timer-text-color: var(--van-text-color);
  --van-timer-font-size: var(--van-font-size-md);
  --van-timer-line-height: var(--van-line-height-md);
}

.van-timer {
  color: var(--van-timer-text-color);
  font-size: var(--van-timer-font-size);
  line-height: var(--van-timer-line-height);
}
