@import '../style/var.less';

@notify-text-color: var(--van-white);
@notify-padding: var(--van-padding-xs) var(--van-padding-md);
@notify-font-size: var(--van-font-size-md);
@notify-line-height: var(--van-line-height-md);
@notify-primary-background-color: var(--van-primary-color);
@notify-success-background-color: var(--van-success-color);
@notify-danger-background-color: var(--van-danger-color);
@notify-warning-background-color: var(--van-warning-color);
