@import '../style/var.less';

@search-padding: 10px var(--van-padding-sm);
@search-background-color: var(--van-background-color-light);
@search-content-background-color: var(--van-gray-1);
@search-input-height: 34px;
@search-label-padding: 0 5px;
@search-label-color: var(--van-text-color);
@search-label-font-size: var(--van-font-size-md);
@search-left-icon-color: var(--van-gray-6);
@search-action-padding: 0 var(--van-padding-xs);
@search-action-text-color: var(--van-text-color);
@search-action-font-size: var(--van-font-size-md);
