@import '../style/var';

.van-contact-edit {
  &__buttons {
    padding: @contact-edit-buttons-padding;
  }

  .van-cell__title {
    max-width: @contact-edit-field-label-width;
  }

  .van-button {
    margin-bottom: @contact-edit-button-margin-bottom;
  }
}
