@import '../style/var';
@import './new';

.van-iconv {
  &__image {
    width: 1em;
    height: 1em;
    object-fit: contain;
  }
  &__text {
    display: block;
    line-height: 1;
    font-size: 0.5em;
  }
  &__text[vusion-slot-name] {
    cursor: pointer;
  }
}
