@import '../style/var';

.van-address-edit {
  &__buttons {
    padding: @address-edit-buttons-padding;

    .van-button {
      margin-bottom: @address-edit-button-margin-bottom;
    }
  }

  &-detail {
    padding: 0;

    &__finish {
      color: @address-edit-detail-finish-color;
      font-size: @address-edit-detail-fnish-font-size;
    }
  }
}
