@import '../style/var.less';

@coupon-margin: 0 var(--van-padding-sm) var(--van-padding-sm);
@coupon-content-height: 84px;
@coupon-content-padding: 14px 0;
@coupon-background-color: var(--van-white);
@coupon-active-background-color: var(--van-active-color);
@coupon-border-radius: var(--van-border-radius-lg);
@coupon-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
@coupon-head-width: 96px;
@coupon-amount-color: var(--van-danger-color);
@coupon-amount-font-size: 30px;
@coupon-currency-font-size: 40%;
@coupon-name-font-size: var(--van-font-size-md);
@coupon-disabled-text-color: var(--van-gray-6);
@coupon-description-padding: var(--van-padding-xs) var(--van-padding-md);
@coupon-description-border-color: var(--van-border-color);
@coupon-corner-checkbox-icon-color: var(--van-danger-color);
