@import './var.less';

:root {
  --van-count-down-text-color: @count-down-text-color;
  --van-count-down-font-size: @count-down-font-size;
  --van-count-down-line-height: @count-down-line-height;
}

.van-count-down {
  color: var(--van-count-down-text-color);
  font-size: var(--van-count-down-font-size);
  line-height: var(--van-count-down-line-height);
}
