@import './var';
.l-root-h5 {
  width: 100%;
  min-height: 100px;
}
div[root-app] .l-root-h5 {
  height: 100%;
  padding-bottom: 50px;
}
.h5template-login-wrap {
  height: 100vh;
  padding: 4.26667vw;
  background-color: #ffffff;
  .login-title {
    font-family: PingFang SC;
    font-style: normal;
    font-weight: 500;
    font-size: 7.46667vw;
    line-height: 10.4vw;
    color: #333333;
    margin-bottom: 14.93333vw;
  }
  .login-form {
  }
  .login-cell {
    padding: 0;
    line-height: 10.4vw;
    background: #f6f6f6;
    border-radius: 1.06667vw;
    margin-bottom: 4.26667vw;
  }
  .login-cell  .van-field__left-icon {
    margin-right: 3.2vw;
    margin-left: 3.2vw;
    display: flex;
    align-items: center;
  }
  .login-cell  .van-field__right-icon {
    margin-right: 4.26667vw;
    margin-left: 0;
    display: flex;
    align-items: center;
    padding: 0;

    img {
      display: block;
      width: 6.4vw;
      height: 6.4vw;
    }
  }
  .login-cell  .van-field__control {
    color: #aaa;
  }
  .account-left-icon {
    width: 6.4vw;
    height: 6.4vw;
  }
  .cus-login-button {
    background: #4c88ff;
    font-family: PingFang SC;
    font-style: normal;
    font-weight: 500;
    font-size: 4.8vw;
    letter-spacing: 4.8vw;
    line-height: 12.8vw;
    color: #ffffff;
    border-radius: 1.06667vw;
  }
}

.h5template-navi {
  height: 100%;
  padding: 4.26667vw;
  .navi-head {
    height: 11.73333vw;
    .nvai-top-image {
      width: 6.4vw;
      display: block;
    }
  }
  .navi-item-icon {
    display: block;
    width: 6.4vw;
    margin-right: 4.26667vw;
  }
  .diy-content {
    height: 100vh;
    width: 86.13333vw;
    overflow: auto;
    padding-top: 11.73333vw;
  }
}

.h5template-user {
  width: 100vw;
  height: 100vh;
  background-color: #f6f6f6;
  .user-head-wrap {
    height: 42.66667vw;
    background-color: #fff;
    padding-left: 6.4vw;

    .user-avatar {
      width: 17.06667vw;
      height: 17.06667vw;
      margin-right: 4.26667vw;
    }
    .user-name {
      font-family: PingFang SC;
      font-style: normal;
      font-weight: 500;
      font-size: 5.33333vw;
      line-height: 5.33333vw;
      color: #333333;
    }
  }
  .navi-item-icon {
    display: block;
    width: 6.4vw;
    margin-right: 4.26667vw;
  }
  .user-logout {
    line-height: 14.93333vw;
    background: #ffffff;
    text-align: center;
    font-family: PingFang SC;
    font-style: normal;
    font-weight: normal;
    font-size: 4.26667vw;
    color: #f55a4c;
  }
}
