/* UI标准色 */
$o2-c-orange: #f60;
$o2-c-green: #06bf04;
$o2-c-red: #ed5050;
$o2-c-black: #333;
$o2-c-gray-darker: #666;
$o2-c-gray-dark: #999;
$o2-c-gray: #c9c9c9;
$o2-c-gray-light: #e5e5e5;
$o2-c-background: #f8f8f8;
