@import '../style/var.less';

@swipe-indicator-size: 6px;
@swipe-indicator-margin: var(--van-padding-sm);
@swipe-indicator-active-opacity: 1;
@swipe-indicator-inactive-opacity: 0.3;
@swipe-indicator-active-background-color: var(--van-primary-color);
@swipe-indicator-inactive-background-color: var(--van-border-color);
