@import '../style/var.less';

@circle-size: 100px;
@circle-color: var(--van-primary-color);
@circle-layer-color: var(--van-white);
@circle-text-color: var(--van-text-color);
@circle-text-font-weight: var(--van-font-weight-bold);
@circle-text-font-size: var(--van-font-size-md);
@circle-text-line-height: var(--van-line-height-md);
