@import '../style/var';

.van-address-list {
  box-sizing: border-box;
  height: 100%;
  padding-bottom: 100px;

  &__add {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
  }

  &__disabled-text {
    padding: 0 15px;
    color: @gray-dark;
    font-size: 12px;
    line-height: 30px;
  }
}

.van-address-item {
  padding: 15px;

  &__value {
    padding-right: 34px;
  }

  &__name {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  &__address {
    color: @gray-darker;
    font-size: 12px;
    line-height: 16px;
  }

  &--disabled {
    .van-address-item__name,
    .van-address-item__address {
      color: @gray-dark;
    }
  }

  &__edit {
    position: absolute;
    top: 50%;
    right: 15px;
    font-size: 16px;
    transform: translate(0, -50%);
  }
}
