@import './var.less';

.van-cascader {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: @cascader-header-height;
    padding: 0 @padding-md;
  }

  &__title {
    font-weight: @font-weight-bold;
    font-size: @cascader-title-font-size;
    line-height: @cascader-title-line-height;
  }

  &__close-icon {
    color: @cascader-close-icon-color;
    font-size: @cascader-close-icon-size;

    &:active {
      color: @cascader-close-icon-active-color;
    }
  }

  &__tabs {
    .van-tab {
      flex: none;
      padding: 0 10px;
    }

    &.van-tabs--line .van-tabs__wrap {
      height: @cascader-tabs-height;
    }

    .van-tabs__nav--complete {
      padding-right: 6px;
      padding-left: 6px;
    }
  }

  &__tab {
    color: @cascader-tab-color;
    font-weight: @font-weight-bold;

    &--unselected {
      color: @cascader-unselected-tab-color;
      font-weight: normal;
    }
  }

  &__option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px @padding-md;
    font-size: @font-size-md;
    line-height: @line-height-md;

    &:active {
      background-color: @active-color;
    }

    &--selected {
      color: @cascader-active-color;
      font-weight: @font-weight-bold;
    }
  }

  &__radio-icon {
    display: flex;
    height: 1em;
    font-size: @cascader-selected-icon-size;
    line-height: 1em;
    cursor: pointer;

    .van-icon {
      display: block;
      box-sizing: border-box;
      width: 1.25em;
      height: 1.25em;
      color: transparent;
      font-size: 0.8em;
      line-height: 1.25;
      text-align: center;
      border: 1px solid @cascader-radio-border-color;
      border-radius: 100%;
      transition-duration: @cascader-radio-transition-duration;
      transition-property: color, border-color, background-color;
    }

    span {
      margin: 0 0 0 5px;
      font-size: @font-size-md;
    }

    &--checked {
      .van-icon {
        color: @white;
        background-color: @cascader-radio-checked-icon-color;
        border-color: @cascader-radio-checked-icon-color;
      }
    }
  }

  &__selected-icon {
    font-size: @cascader-selected-icon-size;
  }

  &__options {
    box-sizing: border-box;
    height: @cascader-options-height;
    padding-top: 6px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}
