@import '../style/var';

.van-address-edit {
  &__buttons {
    padding: 30px 15px;

    .van-button {
      margin-bottom: 15px;
    }
  }

  &-detail {
    padding: 0;

    &__finish {
      color: @blue;
      font-size: 12px;
    }
  }
}
