@import '../style/var.less';

@divider-margin: var(--van-padding-md) 0;
@divider-text-color: var(--van-gray-6);
@divider-font-size: var(--van-font-size-md);
@divider-line-height: 24px;
@divider-border-color: var(--van-border-color);
@divider-content-padding: var(--van-padding-md);
@divider-content-left-width: 10%;
@divider-content-right-width: 10%;
