@import '../style/var.less';

@notice-bar-height: 40px;
@notice-bar-padding: 0 var(--van-padding-md);
@notice-bar-wrapable-padding: var(--van-padding-xs) var(--van-padding-md);
@notice-bar-text-color: var(--van-orange-dark);
@notice-bar-font-size: var(--van-font-size-md);
@notice-bar-line-height: 24px;
@notice-bar-background-color: var(--van-orange-light);
@notice-bar-icon-size: 16px;
@notice-bar-icon-min-width: 24px;
