@import '../style/var';

.van-rate {
  user-select: none;

  &__item {
    display: inline-block;
    position: relative;
    padding: 0 @rate-horizontal-padding;
  }

  &__icon {
    width: 1em;

    &--half {
      position: absolute;
      top: 0;
      left: @rate-horizontal-padding;
      width: .5em;;
      overflow: hidden;
    }
  }
}
