@import '../style/var.less';

@stepper-background-color: var(--van-active-color);
@stepper-button-icon-color: var(--van-text-color);
@stepper-button-disabled-color: var(--van-background-color);
@stepper-button-disabled-icon-color: var(--van-gray-5);
@stepper-button-round-theme-color: var(--van-danger-color);
@stepper-input-width: 32px;
@stepper-input-height: 28px;
@stepper-input-font-size: var(--van-font-size-md);
@stepper-input-line-height: normal;
@stepper-input-text-color: var(--van-text-color);
@stepper-input-disabled-text-color: var(--van-text-color-3);
@stepper-input-disabled-background-color: var(--van-active-color);
@stepper-border-radius: var(--van-border-radius-md);
