@import '../style/var';

.van-uploader {
  position: relative;
  display: inline-block;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; // to clip file-upload-button
    cursor: pointer;
    opacity: 0;

    &-wrapper {
      position: relative;
    }
  }

  &__upload {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    margin: 0 10px 10px 0;
    background-color: @white;
    border: 1px dashed @gray-light;

    &-icon {
      color: @gray-dark;
      font-size: 24px;
    }

    &-text {
      margin-top: 10px;
      color: @gray-dark;
      font-size: 12px;
    }
  }

  &__preview {
    width: 80px;
    height: 80px;
    margin: 0 10px 10px 0;
  }
}
