@import '../style/var.less';

@toast-max-width: 70%;
@toast-font-size: var(--van-font-size-md);
@toast-text-color: var(--van-white);
@toast-loading-icon-color: var(--van-white);
@toast-line-height: var(--van-line-height-md);
@toast-border-radius: var(--van-border-radius-lg);
@toast-background-color: rgba(0, 0, 0, 0.7);
@toast-icon-size: 36px;
@toast-text-min-width: 96px;
@toast-text-padding: var(--van-padding-xs) var(--van-padding-sm);
@toast-default-padding: var(--van-padding-md);
@toast-default-width: 88px;
@toast-default-min-height: 88px;
@toast-position-top-distance: 20%;
@toast-position-bottom-distance: 20%;
