@import '../style/var.less';

@collapse-item-transition-duration: var(--van-animation-duration-base);
@collapse-item-content-padding: var(--van-padding-sm) var(--van-padding-md);
@collapse-item-content-font-size: var(--van-font-size-md);
@collapse-item-content-line-height: 1.5;
@collapse-item-content-text-color: var(--van-gray-6);
@collapse-item-content-background-color: var(--van-white);
@collapse-item-title-disabled-color: var(--van-gray-5);
