@import '../style/var.less';

@number-keyboard-background-color: var(--van-gray-2);
@number-keyboard-key-height: 48px;
@number-keyboard-key-font-size: 28px;
@number-keyboard-key-background-color: var(--van-background-color-light);
@number-keyboard-key-active-color: var(--van-gray-3);
@number-keyboard-delete-font-size: var(--van-font-size-lg);
@number-keyboard-title-color: var(--van-gray-7);
@number-keyboard-title-height: 34px;
@number-keyboard-title-font-size: var(--van-font-size-lg);
@number-keyboard-close-padding: 0 var(--van-padding-md);
@number-keyboard-close-color: var(--van-text-link-color);
@number-keyboard-close-font-size: var(--van-font-size-md);
@number-keyboard-button-text-color: var(--van-white);
@number-keyboard-button-background-color: var(--van-primary-color);
@number-keyboard-z-index: 100;
