@import '../style/var.less';

@contact-edit-padding: var(--van-padding-md);
@contact-edit-fields-radius: var(--van-border-radius-md);
@contact-edit-buttons-padding: var(--van-padding-xl) 0;
@contact-edit-button-margin-bottom: var(--van-padding-sm);
@contact-edit-button-font-size: var(--van-font-size-lg);
@contact-edit-field-label-width: 4.1em;
