@import '../style/var.less';

@skeleton-row-height: 16px;
@skeleton-row-background-color: var(--van-active-color);
@skeleton-row-margin-top: var(--van-padding-sm);
@skeleton-title-width: 40%;
@skeleton-avatar-size: 32px;
@skeleton-avatar-background-color: var(--van-active-color);
@skeleton-animation-duration: 1.2s;
