@import './var.less';
@import '../dropdown-menu/var.less';

:root {
  --van-dropdown-item-z-index: @dropdown-item-z-index;
}

.van-dropdown-item {
  position: fixed;
  right: 0;
  left: 0;
  z-index: var(--van-dropdown-item-z-index);
  overflow: hidden;

  &__icon {
    display: block;
    line-height: inherit;
  }

  &__option {
    text-align: left;

    &--active {
      color: var(--van-dropdown-menu-option-active-color);

      .van-dropdown-item__icon {
        color: var(--van-dropdown-menu-option-active-color);
      }
    }
  }

  &--up {
    top: 0;
  }

  &--down {
    bottom: 0;
  }

  &__content {
    position: absolute;
    max-height: var(--van-dropdown-menu-content-max-height);
  }
}
