@import './var.less';

:root {
  --van-tabbar-height: @tabbar-height;
  --van-tabbar-z-index: @tabbar-z-index;
  --van-tabbar-background-color: @tabbar-background-color;
}

.van-tabbar {
  z-index: var(--van-tabbar-z-index);
  display: flex;
  box-sizing: content-box;
  width: 100%;
  height: var(--van-tabbar-height);
  background: var(--van-tabbar-background-color);

  &--fixed {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
