@import '../style/var.less';

@tabbar-item-font-size: var(--van-font-size-sm);
@tabbar-item-text-color: var(--van-gray-7);
@tabbar-item-active-color: var(--van-primary-color);
@tabbar-item-active-background-color: var(--van-background-color-light);
@tabbar-item-line-height: 1;
@tabbar-item-icon-size: 22px;
@tabbar-item-icon-margin-bottom: var(--van-padding-base);
