html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  font-family: 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',SimSun,sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  background-color: #f8f8f8;
}

a {
  color: #4078c0;
  text-decoration: none;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

ul, ol {
  list-style: none;
}

.hljs {
  line-height: 1.8;
  font-family: Menlo, Monaco, Consolas, Courier, monospace;
  font-size: 12px;
  padding: 18px 24px;
  background-color: #f9fafc;
  border: solid 1px #eaeefb;
  margin-bottom: 25px;
  border-radius: 4px;
  -webkit-font-smoothing: auto;
}

.clearfix {
  &::before {
    display: table;
    content: "";
  }

  &::after {
    display: table;
    content: "";
    clear: both;
  }
}

.page-header {
  height: 60px;
  background-color: #fbfbfb;
  overflow: hidden;
  padding-right: 62px;
  position: relative;
}

.page-header-logo {
  float: left;

  > a {
    display: block;
    width: 78px;
    height: 20px;
    background-image: url(https://img.yzcdn.cn/upload_files/2017/03/30/Fjm3aSwID8ROIV_5TO6dZdJ_IEgz.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 20px 0 0 20px;
  }
}

.page-header-navs {
  float: right;

  li {
    float: left;
  }

  a {
    display: block;
    line-height: 60px;
    color: #333;
    font-size: 16px;
    margin: 0 20px;

    &.active,
    &:hover {
      color: #3388FF;
    }
  }
}

.github-logo {
  position: absolute;
  top: 19px;
  right: 20px;
  width: 22px;
  height: 0;
  padding-top: 22px;
  overflow: hidden;
  background-image: url(https://img.yzcdn.cn/upload_files/2017/03/30/Fil9peDfgzvk3kj-oFCsElS4FS1x.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.main-content {
  margin: 40px 15px;
}

.page-container {
  background-color: #fff;
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.page-content {
  box-sizing: border-box;
  flex: 1;

  section {
    padding: 0 40px;

    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
      color: #333;
      line-height: 1.5;
      margin: 20px 0;
      font-weight: normal;

      &:hover a {
        opacity: .4;
      }

      a {
        float: left;
        margin-left: -20px;
        opacity: 0;
        cursor: pointer;

        &:hover {
          opacity: .4;
        }
      }
    }

    > h1 {
      font-size: 40px;
    }

    > h2 {
      font-size: 36px;
    }

    > h3 {
      font-size: 30px;
    }

    > h4 {
      font-size: 24px;
    }

    > h5 {
      font-size: 14px
    }

    > h6 {
      font-size: 14px;
      color: #666;
    }

    > p {
      font-size: 14px;
      line-height: 20px;
      color: #666;
      margin: 14px 0;
    }

    > ul li,
    > ol li {
      color: #666;
      font-size: 14px;
      line-height: 20px;
      margin: 10px 0 10px 20px;
      padding-left: 20px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        box-sizing: border-box;
        border: 2px solid #999;
        border-radius: 50%;
        top: 6px;
        left: 0;
      }

      li {
        margin-left: 0;
      }
    }
  }

  p > code,
  .table code,
  li > code {
    background-color: #F2F2F2;
    display: inline-block;
    border: 1px solid #E5E5E5;
    padding: 2px 4px;
    color: #333;
    margin: 0 3px;
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  margin-bottom: 45px;

  th {
    text-align: left;
    border: 1px solid #E5E5E5;
    background-color: #F2F2F2;
    padding: 10px;

    &:first-child {
      padding-left: 10px;
    }
  }

  td {
    border: 1px solid #E5E5E5;
    padding: 10px;
  }
}

.page-footer {
  height: 72px;
  margin-top: 40px;
  background-color: #34383B;
}
