@import '../style/var.less';

@dropdown-menu-height: 48px;
@dropdown-menu-background-color: var(--van-background-color-light);
@dropdown-menu-box-shadow: 0 2px 12px rgba(100, 101, 102, 0.12);
@dropdown-menu-title-font-size: 15px;
@dropdown-menu-title-text-color: var(--van-text-color);
@dropdown-menu-title-active-text-color: var(--van-danger-color);
@dropdown-menu-title-disabled-text-color: var(--van-text-color-2);
@dropdown-menu-title-padding: 0 var(--van-padding-xs);
@dropdown-menu-title-line-height: var(--van-line-height-lg);
@dropdown-menu-option-active-color: var(--van-danger-color);
@dropdown-menu-content-max-height: 80%;
