@import '../style/var';

.van-tabbar {
  display: flex;
  width: 100%;
  height: @tabbar-height;
  background-color: @tabbar-background-color;

  &--fixed {
    left: 0;
    bottom: 0;
    position: fixed;
  }
}
