@import '../style/var.less';

@contact-card-padding: var(--van-padding-md);
@contact-card-add-icon-size: 40px;
@contact-card-add-icon-color: var(--van-primary-color);
@contact-card-value-line-height: var(--van-line-height-md);
